In [1]:
import pandas as pd

In [3]:
df_meta_last = pd.read_csv("./raw/movie_meta_last.csv", engine= "python")

최초 행개수 5552개

In [4]:
df_meta_last

,movie_id,title,release_year,release_date,runtime,mpa_rating,mpa_rating_origin,imdb_score,votes,budget,...,contract_price,studio_score,price_class,language,awards,poster,metascore,release_dvd,reviews_users,reviews_critics
0,tt4154796,Avengers: Endgame,2019,26 Apr 2019,181.0,PG-13,.,8.5,"661,719",400000000,...,.,.,.,english,Nominated for 1 Oscar. Another 46 wins & 97 no...,https://m.media-amazon.com/images/M/MV5BMTc5MD...,78.0,30 Jul 2019,8538,543
1,tt1298650,Pirates of the Caribbean: On Stranger Tides,2011,20 May 2011,136.0,PG-13,.,6.6,"460,865",379000000,...,.,.,.,english,3 wins & 31 nominations.,https://m.media-amazon.com/images/M/MV5BMjE5Mj...,45.0,18 Oct 2011,524,465
2,tt2395427,Avengers: Age of Ultron,2015,01 May 2015,141.0,PG-13,.,7.3,"697,604",365000000,...,.,.,.,english,8 wins & 47 nominations.,https://m.media-amazon.com/images/M/MV5BMTM4OG...,66.0,02 Oct 2015,1276,688
3,tt4154756,Avengers: Infinity War,2018,27 Apr 2018,156.0,PG-13,.,8.5,"748,996",300000000,...,.,.,.,english,Nominated for 1 Oscar. Another 44 wins & 70 no...,https://m.media-amazon.com/images/M/MV5BMjMxNj...,68.0,14 Aug 2018,4158,601
4,tt0449088,Pirates of the Caribbean: At World's End,2007,25 May 2007,167.0,PG-13,.,7.1,"572,118",300000000,...,.,.,.,english,Nominated for 2 Oscars. Another 20 wins & 44 n...,https://m.media-amazon.com/images/M/MV5BMjIyNj...,50.0,04 Dec 2007,1275,326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5547,tt5997666,Jab Harry Met Sejal,2017,04 Aug 2017,144.0,Not Rated,.,5.3,"17,380",.,...,.,.,.,hindi,6 wins & 8 nominations.,https://m.media-amazon.com/images/M/MV5BMjIzMD...,NaN,NaN,219,30
5548,tt5970844,Thugs of Hindostan,2018,08 Nov 2018,164.0,Not Rated,.,4.0,"16,245",.,...,.,.,.,hindi,1 win.,https://m.media-amazon.com/images/M/MV5BMTA3OD...,NaN,NaN,920,29
5549,tt5956100,Tiger Zinda Hai,2017,22 Dec 2017,145.0,Not Rated,.,6.0,"20,109",.,...,.,.,.,hindi,4 wins & 3 nominations.,https://m.media-amazon.com/images/M/MV5BYzM0ZT...,NaN,NaN,165,32
5550,tt5882970,Tubelight,2017,23 Jun 2017,170.0,Not Rated,.,4.0,"13,008",.,...,.,.,.,hindi,1 win & 3 nominations.,https://m.media-amazon.com/images/M/MV5BMjExNj...,NaN,NaN,123,28
5551,tt3405236,Raees,2017,25 Jan 2017,143 min,Not Rated,.,6.8,"37,898",.,...,.,.,.,Hindi,3 wins & 15 nominations.,https://m.media-amazon.com/images/M/MV5BMTc2NT...,NaN,NaN,194,43

duplicate 데이터 없음! 와우

In [5]:
df_meta_last[df_meta_last.duplicated()]

Empty DataFrame
Columns: [movie_id, title, release_year, release_date, runtime, mpa_rating, mpa_rating_origin, imdb_score, votes, budget, income_usa, income_int, income_ww, dvd_sales, blu_sales, total_sales, income_opening, legs, share, inf_income_usa, theater_opening, theater_total, series, genre, kwrds, src, prd_mthd, creative_type, prd_company, country, director, actor, writer, description, synop, contract_price, studio_score, price_class, language, awards, poster, metascore, release_dvd, reviews_users, reviews_critics]
Index: []

[0 rows x 45 columns]

duplicate movie_id 없음!! 박수

In [49]:
df_meta_last["movie_id"].value_counts()

tt0083630    1
tt0443272    1
tt1274586    1
tt0316654    1
tt2739338    1
            ..
tt1767382    1
tt0452608    1
tt0052618    1
tt0074812    1
tt1092634    1
Name: movie_id, Length: 5552, dtype: int64

In [11]:
a = df_meta_last['movie_id'].unique().tolist()
len(a)

5552

In [50]:
df_meta_last.columns

Index(['movie_id', 'title', 'release_year', 'release_date', 'runtime',
       'mpa_rating', 'mpa_rating_origin', 'imdb_score', 'votes', 'budget',
       'income_usa', 'income_int', 'income_ww', 'dvd_sales', 'blu_sales',
       'total_sales', 'income_opening', 'legs', 'share', 'inf_income_usa',
       'theater_opening', 'theater_total', 'series', 'genre', 'kwrds', 'src',
       'prd_mthd', 'creative_type', 'prd_company', 'country', 'director',
       'actor', 'writer', 'description', 'synop', 'contract_price',
       'studio_score', 'price_class', 'language', 'awards', 'poster',
       'metascore', 'release_dvd', 'reviews_users', 'reviews_critics'],
      dtype='object')

### 변수별 결측치 확인

In [69]:
for c in df_meta_last.columns : 
    nancount = len(df_meta_last[df_meta_last[c].isna()])
    dotcount = len(df_meta_last[df_meta_last[c]=="."])
    print("%s 결측치 개수 : %d, %d"%(c,nancount,dotcount))

movie_id 결측치 개수 : 0, 0
title 결측치 개수 : 0, 0
release_year 결측치 개수 : 0, 0
release_date 결측치 개수 : 67, 0
runtime 결측치 개수 : 36, 0
mpa_rating 결측치 개수 : 298, 0
mpa_rating_origin 결측치 개수 : 0, 5552
imdb_score 결측치 개수 : 125, 0
votes 결측치 개수 : 125, 0
budget 결측치 개수 : 0, 476
income_usa 결측치 개수 : 0, 492
income_int 결측치 개수 : 0, 1373
income_ww 결측치 개수 : 0, 1208
dvd_sales 결측치 개수 : 0, 3258
blu_sales 결측치 개수 : 0, 3913
total_sales 결측치 개수 : 0, 3913
income_opening 결측치 개수 : 0, 832
legs 결측치 개수 : 0, 715
share 결측치 개수 : 0, 492
inf_income_usa 결측치 개수 : 0, 675
theater_opening 결측치 개수 : 0, 836
theater_total 결측치 개수 : 0, 836
series 결측치 개수 : 0, 4474
genre 결측치 개수 : 9, 0
kwrds 결측치 개수 : 0, 1363
src 결측치 개수 : 0, 310
prd_mthd 결측치 개수 : 0, 256
creative_type 결측치 개수 : 0, 361
prd_company 결측치 개수 : 11, 1987
country 결측치 개수 : 8, 0
director 결측치 개수 : 66, 0
actor 결측치 개수 : 37, 0
writer 결측치 개수 : 151, 0
description 결측치 개수 : 115, 0
synop 결측치 개수 : 0, 102
contract_price 결측치 개수 : 0, 5552
studio_score 결측치 개수 : 0, 5552
price_class 결측치 개수 : 0, 5552
language 결측치 개수 : 3, 0
awards 결측치 개수 : 927, 0
poster 결측치 개수 : 157, 0
metascore 결측치 개수 : 932, 0
release_dvd 결측치 개수 : 522, 5
reviews_users 결측치 개수 : 227, 805
reviews_critics 결측치 개수 : 227, 830

In [73]:
nanindex = []
for i in df_meta_last.index:
    count = 0
    for c in df_meta_last.columns:
        if c not in ["mpa_rating_origin", "contract_price", "studio_score", "price_class"]:
            if df_meta_last[c][i]=="." :
                count+=1
            try :
                if math.isnan(df_meta_last[c][i]) :
                    count+=1
            except : pass
    if count>=13 : nanindex.append(i)
print(len(nanindex))

539

In [77]:
for i in nanindex:
    df_meta_last = df_meta_last.drop(i,0)
print(len(df_meta_last))

5013

In [79]:
len(df_meta_last.columns)

45

In [81]:
df_meta_last = df_meta_last.drop(["mpa_rating_origin", "contract_price", "studio_score", "price_class"], axis=1, inplace=False)
len(df_meta_last.columns)

41

#### 변수 결측치 다시 확인

In [82]:
for c in df_meta_last.columns : 
    nancount = len(df_meta_last[df_meta_last[c].isna()])
    dotcount = len(df_meta_last[df_meta_last[c]=="."])
    print("%s 결측치 개수 : %d, %d"%(c,nancount,dotcount))

movie_id 결측치 개수 : 0, 0
title 결측치 개수 : 0, 0
release_year 결측치 개수 : 0, 0
release_date 결측치 개수 : 41, 0
runtime 결측치 개수 : 11, 0
mpa_rating 결측치 개수 : 205, 0
imdb_score 결측치 개수 : 80, 0
votes 결측치 개수 : 80, 0
budget 결측치 개수 : 0, 368
income_usa 결측치 개수 : 0, 99
income_int 결측치 개수 : 0, 905
income_ww 결측치 개수 : 0, 780
dvd_sales 결측치 개수 : 0, 2722
blu_sales 결측치 개수 : 0, 3374
total_sales 결측치 개수 : 0, 3374
income_opening 결측치 개수 : 0, 301
legs 결측치 개수 : 0, 193
share 결측치 개수 : 0, 99
inf_income_usa 결측치 개수 : 0, 182
theater_opening 결측치 개수 : 0, 304
theater_total 결측치 개수 : 0, 304
series 결측치 개수 : 0, 3950
genre 결측치 개수 : 7, 0
kwrds 결측치 개수 : 0, 975
src 결측치 개수 : 0, 82
prd_mthd 결측치 개수 : 0, 35
creative_type 결측치 개수 : 0, 97
prd_company 결측치 개수 : 0, 1630
country 결측치 개수 : 7, 0
director 결측치 개수 : 58, 0
actor 결측치 개수 : 27, 0
writer 결측치 개수 : 128, 0
description 결측치 개수 : 88, 0
synop 결측치 개수 : 0, 0
language 결측치 개수 : 2, 0
awards 결측치 개수 : 689, 0
poster 결측치 개수 : 117, 0
metascore 결측치 개수 : 578, 0
release_dvd 결측치 개수 : 358, 4
reviews_users 결측치 개수 : 158, 571
reviews_critics 결측치 개수 : 158, 590

### income 결측치 처리.. 시도!

In [83]:
df_meta_last["income_usa"]

0       858373000
1       241063875
2       459005868
3       678815482
4       309420425
          ...
5546            .
5547      1284740
5548      1449848
5549      5560921
5550       930058
Name: income_usa, Length: 5013, dtype: object