In [26]:
import InventoryClusterClassifier as ICC

In [25]:
customer_data

,down_year,weekday,down_price,gender,age,married,kids_under12,register_year,drop_flag,customer_sales,...,VA,VT,WI,WV,10s,20s,30s,40s,50s,60s+
0,2017,5,0.9189,0,23,1,1,2017,0,11.11445,...,0,0,0,0,0,1,0,0,0,0

#### parameter
- customer_id : 해당 고객이 이미 본 영화 정보 추출 위해 필요
- customer_data : 1행 * 54열로 이루어진 데이터프레임 혹은 배열
    - columns : 총 54개 변수
       
        'customer_id', 'gender', 'age', 'married', 'kids_under12',
        'register_year', 'drop_flag', 'drop_year', 'last_down_date',
        'down_flag', 'customer_sales', 'download_cnt', 'duration', 'expiration',
        'first_down_date', 'activation_day', 'AL', 'AR', 'AZ', 'CA', 'CT', 'DC',
         'DE', 'FL', 'GA', 'IA', 'IL', 'IN', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI',
         'MN', 'MS', 'NC', 'NH', 'NJ', 'NV', 'NY', 'OH', 'OR', 'PA', 'RI', 'SC',
         'TN', 'TX', 'VA', 'VT', 'WI', 'WV', '10s', '20s', '30s', '40s', '50s','60s+'

In [23]:
one, two, three, four = ICC.InventoryClusterClassifier("C8046", np.array(customer_data))

In [24]:
one # 첫번째 output : inventory 군집

2

In [16]:
two # 두번째 output : inventory 내 그 군집에 들어 있는 다른 영화들

['I-1018',
 'I-1054',
 'I-1080',
 'I-1033',
 'I-1026',
 'I-1039',
 'I-1078',
 'I-1041',
 'I-1014',
 'I-1068',
 'I-1069',
 'I-1042',
 'I-1002',
 'I-1098',
 'I-1096',
 'I-1104',
 'I-1009',
 'I-1103',
 'I-1023',
 'I-1089',
 'I-1091',
 'I-1061',
 'I-1011',
 'I-1040']

In [17]:
three # 세번째 output : meta 내 그 군집에 들어 있는 다른 영화들

['tt0398286',
 'tt1877832',
 'tt1408101',
 'tt1856101',
 'tt0910970',
 'tt2103281',
 'tt2245084',
 'tt0892769',
 'tt1772341',
 'tt0816692',
 'tt1270798',
 'tt0421715',
 'tt0372784',
 'tt0382932',
 'tt1677720',
 'tt1646971',
 'tt0409459',
 'tt0304141',
 'tt0440963',
 'tt0441773',
 'tt3315342',
 'tt0241527',
 'tt0198781',
 'tt0120737',
 'tt0172495',
 'tt0381061',
 'tt0103064',
 'tt0266543',
 'tt0167260',
 'tt0167261',
 'tt1318514',
 'tt0317705',
 'tt0988045',
 'tt0110357',
 'tt0120815',
 'tt0133093',
 'tt0107290',
 'tt1490017',
 'tt0109830',
 'tt0126029',
 'tt0167404',
 'tt0110989',
 'tt0096895',
 'tt0083866',
 'tt0416449']

In [18]:
four # 네번째 output : 해당 customer가 이미 본 영화의 item_id

['I-1003',
 'I-1015',
 'I-1019',
 'I-1032',
 'I-1058',
 'I-1074',
 'I-1038',
 'I-1046',
 'I-1066',
 'I-1081',
 'I-1093',
 'I-1099']