In [1]:
import pandas as pd

In [2]:
df_final_meta = pd.read_csv("./merged_omdb_numbers_meta_with_reviews.csv", engine ="python")
df_final_meta

,movie_id,title,release_year,release_date,runtime,mpa_rating,mpa_rating_origin,imdb_score,votes,budget,...,price_class,writer,language,awards,poster,metascore,dvd,type,reviews_users,reviews_critics
0,tt4154796,Avengers: Endgame,2019,26 Apr 2019,181 min,PG-13,.,8.5,"661,719",400000000,...,.,"Christopher Markus (screenplay by), Stephen Mc...","English, Japanese, Xhosa, German",Nominated for 1 Oscar. Another 46 wins & 97 no...,https://m.media-amazon.com/images/M/MV5BMTc5MD...,78.0,30 Jul 2019,movie,8538,543
1,tt1298650,Pirates of the Caribbean: On Stranger Tides,2011,20 May 2011,136 min,PG-13,.,6.6,"460,865",379000000,...,.,"Ted Elliott (screenplay), Terry Rossio (screen...","English, Spanish",3 wins & 31 nominations.,https://m.media-amazon.com/images/M/MV5BMjE5Mj...,45.0,18 Oct 2011,movie,524,465
2,tt2395427,Avengers: Age of Ultron,2015,01 May 2015,141 min,PG-13,.,7.3,"697,604",365000000,...,.,"Joss Whedon, Stan Lee (based on the Marvel com...","English, Korean",8 wins & 47 nominations.,https://m.media-amazon.com/images/M/MV5BMTM4OG...,66.0,02 Oct 2015,movie,1276,688
3,tt4154756,Avengers: Infinity War,2018,27 Apr 2018,149 min,PG-13,.,8.5,"741,841",306000000,...,.,"Christopher Markus (screenplay by), Stephen Mc...",English,Nominated for 1 Oscar. Another 44 wins & 70 no...,https://m.media-amazon.com/images/M/MV5BMjMxNj...,68.0,14 Aug 2018,movie,4158,601
4,tt0449088,Pirates of the Caribbean: At World's End,2007,25 May 2007,169 min,PG-13,.,7.1,"572,118",300000000,...,.,"Ted Elliott, Terry Rossio, Ted Elliott (charac...",English,Nominated for 2 Oscars. Another 20 wins & 44 n...,https://m.media-amazon.com/images/M/MV5BMjIyNj...,50.0,04 Dec 2007,movie,1275,326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5473,tt4714782,Personal Shopper,2016,10 Mar 2017,105 min,R,.,6.1,"33,522",750000,...,.,Olivier Assayas,"English, French, Swedish, German",9 wins & 22 nominations.,https://m.media-amazon.com/images/M/MV5BN2JhYT...,77.0,.,movie,213,330
5474,tt2543472,Wonder,2017,17 Nov 2017,113 min,PG,.,8.0,"123,097",750000,...,.,"Stephen Chbosky (screenplay by), Steve Conrad ...",English,Nominated for 1 Oscar. Another 4 wins & 26 nom...,https://m.media-amazon.com/images/M/MV5BYjFhOW...,66.0,13 Feb 2018,movie,410,230
5475,tt1667321,On Chesil Beach,2017,18 May 2018,110 min,R,.,6.3,"7,773",750000,...,.,"Ian McEwan (screenplay), Ian McEwan (novel)",English,.,https://m.media-amazon.com/images/M/MV5BMzQ1Mj...,62.0,07 Aug 2018,movie,84,134
5476,tt2215395,Paulette,2012,14 Aug 2015,87 min,R,.,6.6,"6,513",750000,...,.,"Laurie Aubanel (scenario), Jérôme Enrico (dial...","French, Dutch",1 win & 1 nomination.,https://m.media-amazon.com/images/M/MV5BMzU0MT...,40.0,.,movie,.,.
5477,tt0444653,Keeping Mum,2005,06 Oct 2006,99 min,R,.,6.8,"32,090",750000,...,.,"Richard Russo (screenplay), Niall Johnson (scr...",English,1 win & 5 nominations.,https://m.media-amazon.com/images/M/MV5BNTA4OT...,53.0,20 Feb 2007,movie,136,186

In [3]:
df_final_meta["movie_id"].value_counts()

tt1707386    1
tt0190138    1
tt2372251    1
tt0455538    1
tt0110367    1
            ..
tt1182345    1
tt2172934    1
tt0114898    1
tt2473510    1
tt5666304    1
Name: movie_id, Length: 5478, dtype: int64

In [4]:
len(df_final_meta)

5478

In [5]:
df_final_meta = df_final_meta.drop_duplicates()

In [6]:
df_final_meta

,movie_id,title,release_year,release_date,runtime,mpa_rating,mpa_rating_origin,imdb_score,votes,budget,...,price_class,writer,language,awards,poster,metascore,dvd,type,reviews_users,reviews_critics
0,tt4154796,Avengers: Endgame,2019,26 Apr 2019,181 min,PG-13,.,8.5,"661,719",400000000,...,.,"Christopher Markus (screenplay by), Stephen Mc...","English, Japanese, Xhosa, German",Nominated for 1 Oscar. Another 46 wins & 97 no...,https://m.media-amazon.com/images/M/MV5BMTc5MD...,78.0,30 Jul 2019,movie,8538,543
1,tt1298650,Pirates of the Caribbean: On Stranger Tides,2011,20 May 2011,136 min,PG-13,.,6.6,"460,865",379000000,...,.,"Ted Elliott (screenplay), Terry Rossio (screen...","English, Spanish",3 wins & 31 nominations.,https://m.media-amazon.com/images/M/MV5BMjE5Mj...,45.0,18 Oct 2011,movie,524,465
2,tt2395427,Avengers: Age of Ultron,2015,01 May 2015,141 min,PG-13,.,7.3,"697,604",365000000,...,.,"Joss Whedon, Stan Lee (based on the Marvel com...","English, Korean",8 wins & 47 nominations.,https://m.media-amazon.com/images/M/MV5BMTM4OG...,66.0,02 Oct 2015,movie,1276,688
3,tt4154756,Avengers: Infinity War,2018,27 Apr 2018,149 min,PG-13,.,8.5,"741,841",306000000,...,.,"Christopher Markus (screenplay by), Stephen Mc...",English,Nominated for 1 Oscar. Another 44 wins & 70 no...,https://m.media-amazon.com/images/M/MV5BMjMxNj...,68.0,14 Aug 2018,movie,4158,601
4,tt0449088,Pirates of the Caribbean: At World's End,2007,25 May 2007,169 min,PG-13,.,7.1,"572,118",300000000,...,.,"Ted Elliott, Terry Rossio, Ted Elliott (charac...",English,Nominated for 2 Oscars. Another 20 wins & 44 n...,https://m.media-amazon.com/images/M/MV5BMjIyNj...,50.0,04 Dec 2007,movie,1275,326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5473,tt4714782,Personal Shopper,2016,10 Mar 2017,105 min,R,.,6.1,"33,522",750000,...,.,Olivier Assayas,"English, French, Swedish, German",9 wins & 22 nominations.,https://m.media-amazon.com/images/M/MV5BN2JhYT...,77.0,.,movie,213,330
5474,tt2543472,Wonder,2017,17 Nov 2017,113 min,PG,.,8.0,"123,097",750000,...,.,"Stephen Chbosky (screenplay by), Steve Conrad ...",English,Nominated for 1 Oscar. Another 4 wins & 26 nom...,https://m.media-amazon.com/images/M/MV5BYjFhOW...,66.0,13 Feb 2018,movie,410,230
5475,tt1667321,On Chesil Beach,2017,18 May 2018,110 min,R,.,6.3,"7,773",750000,...,.,"Ian McEwan (screenplay), Ian McEwan (novel)",English,.,https://m.media-amazon.com/images/M/MV5BMzQ1Mj...,62.0,07 Aug 2018,movie,84,134
5476,tt2215395,Paulette,2012,14 Aug 2015,87 min,R,.,6.6,"6,513",750000,...,.,"Laurie Aubanel (scenario), Jérôme Enrico (dial...","French, Dutch",1 win & 1 nomination.,https://m.media-amazon.com/images/M/MV5BMzU0MT...,40.0,.,movie,.,.
5477,tt0444653,Keeping Mum,2005,06 Oct 2006,99 min,R,.,6.8,"32,090",750000,...,.,"Richard Russo (screenplay), Niall Johnson (scr...",English,1 win & 5 nominations.,https://m.media-amazon.com/images/M/MV5BNTA4OT...,53.0,20 Feb 2007,movie,136,186

In [7]:
len(df_final_meta["movie_id"].value_counts())

5478

In [8]:
df_final_meta.columns

Index(['movie_id', 'title', 'release_year', 'release_date', 'runtime',
       'mpa_rating', 'mpa_rating_origin', 'imdb_score', 'votes', 'budget',
       'income_usa', 'income_int', 'income_ww', 'dvd_sales', 'blu_sales',
       'total_sales', 'income_opening', 'legs', 'share', 'inf_income_usa',
       'theater_opening', 'theater_total', 'series', 'genre', 'kwrds', 'src',
       'prd_mthd', 'creative_type', 'prd_company', 'country', 'director',
       'actor', 'description', 'contract_price', 'studio_score', 'price_class',
       'writer', 'language', 'awards', 'poster', 'metascore', 'dvd', 'type',
       'reviews_users', 'reviews_critics'],
      dtype='object')

In [9]:
df_final_meta.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5478 entries, 0 to 5477
Data columns (total 45 columns):
movie_id             5478 non-null object
title                5478 non-null object
release_year         5478 non-null object
release_date         5478 non-null object
runtime              5478 non-null object
mpa_rating           5478 non-null object
mpa_rating_origin    5478 non-null object
imdb_score           5377 non-null float64
votes                5478 non-null object
budget               5478 non-null object
income_usa           5478 non-null object
income_int           5478 non-null object
income_ww            5478 non-null object
dvd_sales            5478 non-null object
blu_sales            5478 non-null object
total_sales          5478 non-null object
income_opening       5478 non-null object
legs                 5478 non-null object
share                5478 non-null object
inf_income_usa       5478 non-null object
theater_opening      5478 non-null object
theater_total        5478 non-null object
series               5478 non-null object
genre                5478 non-null object
kwrds                5478 non-null object
src                  5478 non-null object
prd_mthd             5478 non-null object
creative_type        5478 non-null object
prd_company          5478 non-null object
country              5478 non-null object
director             5478 non-null object
actor                5478 non-null object
description          5478 non-null object
contract_price       5478 non-null object
studio_score         5478 non-null object
price_class          5478 non-null object
writer               5478 non-null object
language             5478 non-null object
awards               5478 non-null object
poster               5478 non-null object
metascore            4564 non-null float64
dvd                  5478 non-null object
type                 5478 non-null object
reviews_users        5368 non-null object
reviews_critics      5368 non-null object
dtypes: float64(2), object(43)
memory usage: 1.9+ MB

# release_year 이상치 확인 및 처리

In [10]:
import re
p = re.compile(r"^\d{4}$")
for i in range(len(df_final_meta["release_year"])):
    if len(re.findall(p, df_final_meta["release_year"][i]))==0 : 
        df_final_meta.loc[i,"release_year"] = df_final_meta.loc[i,"release_year"][:4]

# release_date 이상치/결측치

In [11]:
df_final_meta[df_final_meta["release_date"].isna()]

Empty DataFrame
Columns: [movie_id, title, release_year, release_date, runtime, mpa_rating, mpa_rating_origin, imdb_score, votes, budget, income_usa, income_int, income_ww, dvd_sales, blu_sales, total_sales, income_opening, legs, share, inf_income_usa, theater_opening, theater_total, series, genre, kwrds, src, prd_mthd, creative_type, prd_company, country, director, actor, description, contract_price, studio_score, price_class, writer, language, awards, poster, metascore, dvd, type, reviews_users, reviews_critics]
Index: []

[0 rows x 45 columns]

In [12]:
mth = {"Jan":"01","Feb":"02", "Mar":"03", "Apr":"04", "May":"05","Jun":"06","Jul":"07","Aug":"08",
       "Sep":"09", "Oct":"10", "Nov":"11","Dec":"12", 
       "January":"01","February":"02", "March":"03", "April":"04", "May":"05","June":"06","July":"07",
       "August":"08", "September":"09", "October":"10", "November":"11","December":"12"}


p = re.compile(r"^\d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4}$")
count = 0
for i in range(len(df_final_meta["release_date"])):
        if len(re.findall(p,df_final_meta["release_date"][i]))==0 : 
            
            if df_final_meta["release_date"][i][:6]=="(Wide)":
                df_final_meta.loc[i, "release_date"] = df_final_meta.loc[i, "release_date"][6:]
                
            if df_final_meta["release_date"][i]!="." :
                L = df_final_meta["release_date"][i].split()
                month = mth[L[0]]; year = L[2]
                if L[1][:2].isnumeric() : 
                    day = L[1][:2]
                else : day = "0"+L[1][:1]
                df_final_meta.loc[i, "release_date"] = month+"-"+day+"-"+year
                      
        else : 
            L = df_final_meta["release_date"][i].split() # 잘드간 애들
            df_final_meta.loc[i, "release_date"] = mth[L[1]]+"-"+L[0]+"-"+L[2]
        print(df_final_meta.loc[i,"release_date"])

04-26-2019
05-20-2011
05-01-2015
04-27-2018
05-25-2007
11-17-2017
11-06-2015
05-25-2018
03-09-2012
03-25-2016
07-19-2019
11-24-2010
05-04-2007
05-06-2016
07-15-2009
12-13-2013
12-17-2014
04-14-2017
04-10-2020
12-18-2009
06-28-2006
07-20-2012
05-26-2017
11-14-2008
05-04-2012
07-07-2006
06-14-2013
05-16-2008
07-03-2013
07-17-2020
07-03-2012
05-18-2012
06-21-2017
06-12-2015
05-25-2012
06-24-2009
06-27-2014
05-26-2006
05-14-2010
12-14-2005
12-07-2007
02-16-2018
12-19-1997
06-15-2018
12-16-2016
06-17-2016
06-21-2019
06-18-2010
05-03-2013
05-05-2017
06-30-2004
03-05-2010
11-09-2012
12-14-2012
06-21-2013
03-08-2013
05-23-2014
05-02-2014
06-24-2011
08-02-2019
12-17-2010
11-13-2009
11-16-2018
05-21-2009
06-17-2011
06-07-2019
06-29-2011
06-09-2017
03-01-2013
04-03-2015
05-16-2013
06-21-2013
05-10-2013
07-12-2013
11-25-2015
05-02-2008
07-18-2008
05-22-2008
06-22-2012
03-10-2017
07-22-2016
10-18-2019
10-06-2017
11-01-2019
05-24-2019
11-03-2017
05-30-2014
11-18-2016
06-27-2008
08-10-2007
07-01-2016
11-23-2011
07-21-2017
02-06-2015
07-27-2018
05-27-2016
08-10-2018
06-06-2014
03-08-2019
04-15-2016
06-19-2015
07-07-2017
08-05-2016
05-29-2009
11-22-2017
11-21-2018
03-27-2009
06-16-2017
08-07-2009
06-30-1999
08-01-2008
06-22-2007
07-28-1995
01-17-2020
05-12-2017
12-25-2013
06-22-2018
08-01-2014
05-07-2010
04-04-2014
07-11-2014
11-10-2004
06-01-2012
07-02-2003
05-07-2004
03-29-2019
05-31-2019
05-22-2015
02-14-2019
05-27-2016
05-21-2010
11-04-2016
11-07-2014
03-26-2010
11-02-2012
11-07-2014
06-24-2016
03-17-2017
07-02-2019
12-21-2018
05-18-2007
07-16-2010
11-20-2015
05-16-2014
06-03-2011
12-25-2008
07-14-2010
05-12-2006
06-10-2016
11-27-2019
09-30-2016
07-01-2015
03-23-2018
11-24-2004
07-14-2017
05-25-2001
07-03-2007
11-22-2019
06-02-2017
11-27-2013
03-04-2016
07-11-2007
11-18-2005
05-15-2003
12-14-2007
11-23-2016
07-02-2008
06-15-2005
07-15-2005
06-29-2007
11-08-2013
07-31-2015
07-21-2017
05-06-2011
11-07-2008
05-01-2009
05-22-2009
05-26-2011
05-15-2015
05-10-2019
11-05-2003
03-29-2018
11-04-2005
05-05-2006
05-15-2009
05-14-2004
07-01-2010
11-02-2007
07-24-2009
11-21-2008
03-30-2012
11-16-2007
05-11-2012
06-28-2013
02-12-2010
02-17-2017
10-09-2015
03-11-2011
01-01-2006
11-03-2006
06-08-2012
12-21-2011
06-13-2014
06-18-1999
03-07-2014
11-21-2012
04-08-2005
07-15-2016
11-22-2002
05-08-2009
07-01-1998
07-22-2011
01-29-2016
07-10-1998
03-28-2013
12-05-2003
12-21-2005
12-12-2014
07-01-2016
10-11-2019
02-26-2016
06-26-2020
05-03-2002
03-06-2009
07-29-2005
06-13-2008
06-20-2003
07-11-2001
11-16-2012
03-22-2013
01-08-2016
11-19-1999
03-04-2011
11-14-2003
07-17-2013
06-03-2016
11-18-2011
07-28-2006
11-02-2018
06-29-2005
11-26-2014
11-22-2013
06-04-2004
08-03-2007
07-06-2018
06-06-2008
07-17-2015
12-25-2015
12-19-2018
10-28-2011
11-05-2010
07-18-2003
04-11-2014
07-23-2010
03-28-2014
12-21-2011
05-31-2013
11-26-2008
07-19-2013
02-22-2019
11-18-2011
05-19-2000
03-03-2017
12-19-2014
11-21-2014
11-16-2001
12-13-2019
05-19-2006
04-29-2011
08-08-2014
12-16-2011
05-28-2004
03-31-2017
04-02-2010
11-04-2016
05-20-1998
06-08-2012
08-10-2012
06-20-1997
07-13-2018
08-03-2012
12-21-2016
01-13-2017
08-27-1999
02-21-2020
11-17-2000
06-30-2000
07-29-2016
11-21-2012
02-16-2007
04-13-2018
06-27-2003
08-09-2013
04-19-2013
03-24-2017
07-19-2002
02-12-2014
06-11-2004
07-10-2015
05-09-2008
07-22-2005
12-17-2010
06-23-2010
10-05-2018
11-02-2001
07-26-2013
02-07-1997
04-22-2016
06-14-2002
12-25-2010
12-15-2017
05-18-2018
10-04-2013
12-22-2006
05-29-2015
07-29-2011
06-27-2007
12-10-2004
12-19-1997
06-28-2000
03-07-2014
12-25-2004
12-21-2016
01-14-2011
09-30-2016
10-07-2011
06-14-2019
06-11-2010
07-31-2013
06-12-2009
11-01-2013
04-02-2004
06-13-1997
05-06-2005
03-31-2017
06-16-2004
12-19-2001
11-21-2003
12-25-2001
10-02-2015
11-23-2016
07-16-2004
12-17-1999
12-11-2009
03-07-2008
07-22-2016
04-27-2001
09-22-2017
06-09-2000
05-05-2000
03-09-2018
07-01-2009
11-17-2006
06-21-2002
12-21-2018
10-26-2012
11-15-2002
07-03-1991
06-16-1995
07-27-2001
11-19-2004
12-25-2012
01-10-2020
12-22-2010
07-15-1994
11-02-2007
09-18-2009
08-06-2010
12-17-2004
12-25-2013
05-24-2013
06-21-1996
06-21-1996
12-15-2000
08-17-2012
10-16-2009
12-15-2006
07-25-2014
12-10-2010
11-24-1999
06-11-2004
06-08-2007
12-08-2006
11-08-2019
09-24-2010
11-07-1997
06-05-2009
12-25-2003
03-15-2019
07-23-2004
08-15-2014
11-27-2002
03-12-2010
10-20-2017
12-25-2015
12-11-2015
04-18-2014
02-18-2005
12-14-2018
08-16-2002
05-29-2020
11-06-2015
02-08-2019
11-21-2018
05-04-2001
12-20-2002
05-19-2017
03-13-2015
07-13-2012
01-18-2002
05-27-2010
02-12-2010
08-10-2012
11-12-2010
05-09-1997
03-31-2000
01-15-2010
08-19-2016
02-06-2015
05-30-2003
12-17-2003
12-18-2002
06-15-2001
06-08-2015
07-18-2001
08-05-2011
02-14-2008
11-05-2004
02-14-2013
04-09-2004
12-22-1995
12-25-2013
12-20-2017
07-02-1997
11-24-1999
08-03-2001
12-25-2009
07-01-2009
01-17-2020
07-21-2000
04-15-2011
07-26-2019
10-06-2006
11-03-2000
06-19-1998
08-13-2008
12-21-2011
07-11-1997
06-06-2008
05-19-1995
09-23-2016
02-14-2020
12-18-2015
06-22-2001
12-25-2008
07-24-2015
11-26-2003
08-04-2000
04-22-2005
08-07-2013
07-25-2003
06-10-2016
11-21-2001
04-04-1997
03-10-2000
03-16-2018
12-17-1999
07-07-2004
04-25-1997
03-26-1997
07-19-2002
08-19-2011
10-21-2011
09-07-2017
12-08-2011
12-22-2017
01-15-2008
05-10-1996
06-03-2005
09-14-2018
07-08-2005
02-09-2001
07-25-2003
12-22-2000
11-17-2006
12-07-2001
07-23-2004
07-25-1997
04-03-2009
03-14-2008
03-21-2014
09-28-2012
04-05-2019
11-21-2007
02-10-2012
06-08-2007
12-25-2009
11-20-1998
09-29-2006
11-04-2011
11-22-2000
03-30-2012
12-08-2006
06-16-2006
12-23-2005
03-16-2001
06-18-1993
09-26-2003
11-23-2011
01-20-2017
11-13-1998
07-30-2010
02-08-2002
03-15-2002
06-30-1995
03-02-2007
08-13-2010
03-28-2003
03-21-2014
12-20-2017
06-14-2002
07-28-2000
07-19-2013
06-23-2006
12-15-2006
02-14-2008
07-11-2008
05-27-2005
08-13-2010
02-07-2020
11-17-2000
05-23-2003
03-23-2012
05-26-2011
05-22-1996
02-10-2017
09-25-2015
06-19-1992
06-07-2019
05-07-1999
05-19-2006
06-21-2002
05-08-1998
07-12-2013
12-16-2011
06-20-2008
03-11-2005
02-19-2010
12-12-2003
11-26-2008
09-26-1997
12-25-2008
07-12-2002
02-11-2011
02-14-2003
09-26-2008
06-06-1997
12-17-2010
12-25-2003
01-15-2010
11-26-1997
07-23-1999
11-15-1996
10-17-2014
09-28-2018
02-10-2006
07-08-2011
12-12-2008
08-08-1997
06-12-1998
05-24-2002
06-08-2001
04-03-1998
07-30-2004
11-22-2006
06-24-2005
03-08-2002
10-02-1998
12-25-1998
09-20-2019
10-28-2005
11-10-2000
09-25-2009
06-08-2001
08-26-2005
12-13-1996
04-14-2006
12-20-2013
01-12-2001
12-06-1996
10-23-2015
02-21-2014
11-14-2003
12-25-2009
11-26-2003
07-08-2011
11-25-1998
12-25-1997
11-10-2000
08-17-2007
09-02-2005
12-06-2019
06-24-1994
02-10-2012
11-11-2011
01-04-2002
09-27-2013
10-04-2002
03-05-2004
07-11-2003
08-20-2004
08-05-2016
12-25-2018
07-20-2018
07-03-2013
06-06-2003
01-05-2007
06-30-2000
07-08-2016
07-03-1996
11-09-2018
12-21-2016
06-30-2017
05-23-1997
03-31-2006
05-27-2005
06-25-2010
10-01-2004
07-14-2000
06-27-2008
06-07-1996
02-13-2004
07-20-2007
05-31-2013
12-25-2006
08-03-2018
07-23-1999
11-11-2011
06-18-2004
02-18-2005
07-21-2006
12-08-2000
12-21-2007
04-16-1999
03-04-2005
01-06-2006
06-04-2010
08-14-2015
03-07-2003
07-21-2006
12-17-2004
10-12-2001
12-17-1999
07-07-1995
03-25-2011
03-11-2005
10-28-2016
06-13-2003
06-16-2000
12-17-2004
10-23-1998
01-15-1999
02-23-2001
12-06-2019
01-15-2021
07-10-2015
02-06-2015
11-22-2000
08-04-2006
05-20-2016
08-07-1998
02-13-1998
07-27-2007
02-08-2008
07-31-2009
09-28-2007
06-22-2001
05-24-1995
11-04-2005
04-27-2001
12-21-2001
06-25-2004
07-30-2004
06-26-1998
08-02-2002
05-19-2004
06-09-2006
12-23-2009
09-06-2019
06-22-1988
07-30-1999
08-09-2002
11-08-1996
08-21-2009
12-11-1991
07-03-1990
08-08-2003
11-10-2017
11-19-1999
12-14-2001
06-20-1997
03-22-2013
03-11-2011
12-25-2011
03-01-2002
02-07-2014
09-23-2016
12-11-1998
01-09-2004
06-17-1994
01-20-2012
09-22-2017
10-10-2014
09-29-2006
08-09-1989
01-14-2011
12-25-2005
11-06-1998
08-10-2007
06-15-2012
10-10-1997
09-17-2004
09-14-2007
11-01-2002
06-07-2002
10-21-2005
01-29-2016
10-18-2013
09-23-2011
01-16-1998
02-15-2002
02-08-2002
01-10-2014
04-27-2007
09-20-2002
08-10-2001
01-16-2015
03-31-2006
09-21-2010
07-09-2010
07-30-2010
03-02-2018
06-30-2010
05-31-2002
06-26-2015
07-13-2001
02-25-2011
11-22-1995
03-21-2003
08-06-1999
11-05-1999
12-22-2017
10-10-2008
06-22-2012
09-20-1996
08-17-2007
04-30-1999
10-13-1998
03-14-2014
07-24-1998
12-15-2000
11-16-2012
03-15-2002
06-30-1995
03-31-1999
07-13-2018
12-25-2012
11-01-2002
06-01-1990
12-18-1998
12-25-2014
06-05-2015
11-05-2010
07-25-2008
12-15-1995
07-17-1998
08-04-2000
12-19-2014
05-28-1993
08-12-2016
02-09-1996
08-09-2006
07-07-2000
12-19-2003
05-16-2012
07-16-1999
02-17-2012
02-27-2015
12-08-2004
11-21-2012
12-22-2006
09-25-2015
09-14-2012
08-14-2019
03-20-1998
10-15-1999
08-22-2008
10-11-1996
12-08-2000
11-11-2005
11-26-2003
01-14-2005
10-23-2009
01-24-2014
05-24-1991
03-29-2019
08-22-2014
01-13-2017
10-27-2000
09-30-2005
10-26-2018
07-14-2006
10-08-1999
01-05-2007
06-11-1993
07-26-2002
04-01-2011
09-15-2017
06-24-1994
08-03-1994
04-21-2000
11-17-1995
12-30-2015
06-20-2008
02-23-2001
10-03-2014
03-30-2007
09-18-2015
08-02-2013
01-26-2018
01-11-2019
02-08-2016
12-22-2004
02-07-2014
08-22-2008
03-02-2007
12-25-2008
12-10-1999
06-05-1998
09-09-2016
06-14-2002
10-09-2009
11-17-1995
05-30-2003
05-09-2003
06-18-1999
12-18-1998
08-06-2004
07-04-2001
12-20-2002
10-02-1998
04-19-2002
10-15-2010
03-05-2004
06-27-1990
12-21-2005
08-13-2010
12-21-2012
04-23-2004
12-22-2000
09-09-2011
12-22-1999
05-15-1998
02-06-2009
10-01-2004
07-28-1999
01-17-2003
06-13-2008
03-04-2016
04-07-2000
03-10-2006
11-22-1996
04-02-2004
10-21-2016
05-25-2017
03-06-1998
01-08-1999
12-25-2015
08-17-2012
11-14-1997
12-25-2003
03-01-1996
12-19-2008
09-26-2014
08-04-2017
09-27-2002
01-17-2014
07-14-1995
12-25-2018
11-26-1997
03-23-2007
10-16-1998
01-11-2013
04-07-2017
10-12-2018
06-19-2009
01-29-2010
12-13-2002
07-12-2002
11-20-2009
03-20-2009
09-12-2008
12-11-2009
04-17-2009
02-12-1999
04-21-2006
09-21-2012
10-10-2003
01-10-1997
04-03-1998
09-22-2000
02-08-2019
12-06-2002
04-24-2009
08-21-2013
11-03-2000
02-22-2002
05-13-2011
06-16-2006
04-29-2005
08-15-1997
07-02-2003
07-08-2005
08-14-1998
09-15-2006
03-26-1999
12-25-2008
10-19-2001
01-14-2000
09-22-2006
02-14-2014
10-09-1998
07-11-2008
08-12-2005
02-24-2017
01-23-2015
10-24-2003
12-11-2015
03-23-2018
01-25-2019
02-12-2016
01-16-2015
10-16-2015
05-25-1988
12-15-1995
01-20-2012
09-16-2005
06-07-2013
04-28-2000
04-04-2008
03-24-2017
12-18-2009
05-30-2008
09-10-2010
06-15-2012
10-17-1997
06-12-2012
05-31-1996
11-12-2004
08-17-2001
12-25-2014
04-11-2003
03-04-2005
04-02-2004
10-04-2019
07-06-1994
12-14-2007
11-02-2018
02-11-2005
10-06-2000
12-15-2006
06-23-1995
12-15-1978
06-28-1996
02-10-2017
10-11-2013
07-16-1997
08-01-2003
11-10-2017
09-26-2014
02-09-2018
05-26-1995
04-09-2010
12-13-2002
05-12-1995
09-23-2005
12-09-1994
04-10-1998
01-16-2015
04-28-2006
10-28-1994
08-13-1999
04-01-2004
12-22-1989
07-31-1992
05-26-2000
03-15-1996
11-01-2013
09-10-2010
04-18-2008
12-22-2004
03-21-2014
01-10-1997
08-19-2016
09-25-1998
11-24-2010
10-11-1996
10-31-2008
07-27-2012
03-14-2003
06-04-1999

12-12-2003
02-29-2008
02-23-2018
10-16-2015
04-27-2012
12-02-2005
08-02-1996
08-16-1996
10-12-2007
06-12-2009
02-21-2003
01-10-1997
07-16-2013
09-22-2006
07-30-2004
10-30-2004
05-04-2007
02-03-1998
01-17-2002
07-14-2006
12-19-2008
12-25-1990
10-14-2005
08-01-2003
06-16-2000
08-05-2005
10-16-2009
09-18-2015
11-21-1997
06-01-2001
11-02-2001
10-20-2006
04-06-2007
10-16-1998
01-11-2013
12-25-2002
07-18-2008
06-02-2006
02-12-2010
11-22-1995
08-05-2011
01-15-1999
12-22-1999
02-05-2010
04-16-2003
06-23-2000
08-17-2018
11-22-2006
03-04-2011
11-20-2009
05-18-2001
06-29-2012
06-13-2014
06-14-1991
12-13-1996
12-25-1997
12-25-1998
06-17-2016
12-18-2013
06-10-2011
06-28-2002
03-17-2000
11-21-2018
02-09-2018
02-07-2003
11-11-1994
12-14-2018
12-19-2008
02-28-2014
12-25-1998
03-10-2006
03-24-2006
07-28-2017
07-29-2011
01-12-2018
02-05-1999
06-09-1995
03-20-2009
03-18-2005
12-23-2011
09-23-2011
11-24-2004
03-16-2006
03-10-1995
03-13-2009
09-24-2004
06-22-2005
02-07-2003
02-10-2006
04-06-2012
01-25-2013
02-18-2011
05-10-2002
09-29-2017
12-09-2005
09-10-2004
10-17-2014
02-14-1997
02-10-2006
09-12-1997
08-22-1997
08-08-2014
10-10-2014
04-21-2006
08-11-2000
07-29-1998
08-19-2016
05-25-1994
06-15-1990
09-26-1997
10-03-2003
11-19-2004
02-11-2000
02-18-1994
11-25-2009
05-28-2004
05-20-2016
09-17-1999
12-11-1998
06-04-2010
06-28-1996
10-22-2010
04-19-2002
10-06-1995
02-12-2016
06-02-2009
02-09-2007
10-15-1999
03-29-2013
03-28-2003
03-13-2015
08-09-2002
02-13-2009
08-09-1996
02-27-2004
12-25-2017
12-25-2004
08-06-1999
04-12-2019
04-08-2011
01-13-2015
09-30-2011
06-24-2016
09-04-2009
02-25-2005
02-21-2003
02-14-2013
09-30-2005
09-21-2007
07-01-1994
11-12-1999
11-03-1995
02-25-2011
11-07-1997
10-13-1995
10-14-2005
10-13-1995
02-27-2009
03-29-2002
02-16-2018
01-30-2004
03-03-2000
11-01-2019
01-31-2020
04-17-2015
05-01-2013
06-08-2012
08-09-2019
11-02-2001
03-06-2015
07-11-1990
09-07-2012
05-24-1989
10-18-2002
01-05-2001
03-29-2002
10-18-2019
08-06-1999
11-16-2018
11-05-1999
10-01-1999
01-22-2010
08-17-2001
09-07-2007
10-26-2001
10-20-2000
06-26-1998
12-14-1984
11-15-2019
01-25-2008
07-13-2016
06-15-1990
11-11-2016
06-14-1996
11-19-1993
06-02-2009
10-19-2001
11-27-2002
06-18-2010
02-23-1996
01-13-2017
06-20-1997
07-20-2001
11-22-1996
05-24-2002
09-20-2013
07-12-1996
03-21-1997
11-25-1998
10-05-2012
05-27-1994
10-24-2003
12-22-2000
12-22-2017
07-11-2008
12-17-1993
08-11-2004
01-11-2008
07-20-1994
11-23-2011
06-05-1992
05-13-2005
10-05-2001
10-07-2016
12-25-1999
07-04-2001
08-21-1998
01-14-2005
03-19-2010
04-12-2002
04-11-1997
01-20-2006
11-22-2019
08-04-2000
11-14-2003
08-09-1996
10-07-1994
12-09-2016
08-16-1996
04-29-2005
09-21-2007
12-25-2004
07-06-2012
09-30-1994
05-23-2014
01-13-2006
03-03-2006
07-14-1995
09-10-2004
11-08-2019
07-28-2006
07-18-2003
12-14-1984
07-31-2009
10-12-2007
01-23-2009
08-29-2008
11-04-1994
10-04-1996
05-03-2019
07-17-1996
01-19-2001
06-07-1996
07-01-2005
03-19-2010
12-25-2000
09-05-2008
01-05-1996
09-21-2012
10-28-2011
01-30-1998
12-21-2018
10-21-2011
09-26-2008
04-05-2002
11-16-2007
12-25-2002
01-31-1997
02-12-2013
10-12-2012
08-06-1993
05-22-1985
10-18-1996
07-30-2010
02-02-1996
12-24-2014
11-19-1980
06-28-2013
01-12-2001
04-14-2000
04-12-2002
11-09-2018
01-06-2017
01-28-2011
06-30-1993
03-16-2012
05-28-1999
06-23-2000
12-25-2019
01-16-2004
07-01-1992
07-10-2009
07-31-1963
05-12-2017
10-12-2012
04-05-2002
11-15-1996
03-11-2011
01-25-2002
07-14-1989
12-25-2018
01-27-2012
03-09-2001
09-16-2005
05-28-1993
10-02-1992
01-27-2012
12-03-2010
04-18-1997
03-17-2010
11-08-2002
05-31-2019
05-11-2001
08-22-2003
10-14-2011
08-06-1999
07-15-2005
06-11-2010
05-17-2019
02-13-2015
06-19-2009
11-27-2019
12-20-2013
12-25-2003
07-25-2014
01-10-2014
11-22-1989
09-24-1999
07-25-2003
07-24-1996
07-01-1992
10-01-2010
08-07-2009
02-06-2009
01-15-2016
04-14-2006
03-27-2015
02-04-2000
05-25-1990
10-14-2016
11-14-2014
04-25-2014
11-13-1992
02-17-2006
12-25-1999
09-25-2015
09-25-1992
10-29-2004
04-01-2005
10-16-2015
02-22-2008
03-20-2009
11-09-2001
12-20-1991
01-27-2006
08-23-2019
09-21-2018
11-04-2016
03-02-2001
08-28-2009
04-17-2009
02-18-2011
06-04-2010
11-21-2003
11-30-2001
03-18-2011
10-15-2004
08-25-2006
02-15-2013
07-10-1998
08-01-1997
11-26-2014
01-25-2002
10-20-2006
06-16-2006
07-09-2010
08-15-2012
07-31-1987
12-08-2006
02-14-2007
06-20-1986
03-12-2004
08-12-2005
06-20-2014
05-02-2008
11-21-1997
02-07-1992
12-25-1997
05-30-2014
08-12-2011
11-16-2018
04-08-2005
12-25-2007
12-12-2007
07-18-2014
04-15-2011
12-21-1994
08-11-2000
03-18-2011
12-19-2012
08-26-2011
02-26-1999
01-12-2018
02-18-2000
03-01-1991
08-20-1999
10-20-2000
04-08-2011
03-21-2008
01-13-2017
07-01-1994
11-26-2008
11-10-2010
11-09-2005
05-03-2019
08-25-2000
12-25-2013
08-11-2000
11-23-2005
04-02-1999
08-11-2017
08-23-1996
09-07-2001
01-27-2017
02-29-2008
06-30-2017
02-16-2001
04-05-2007
01-07-2011
06-03-1994
05-15-1998
09-06-2002
01-15-1999
08-26-2016
01-16-2004
11-25-2009
09-22-1995
02-16-1996
02-03-2012
01-04-2013
03-09-2012
08-04-2017
10-20-2006
10-06-2000
04-21-1995
04-26-2002
05-15-1987
02-28-1992
10-23-2009
10-23-2009
05-07-2004
03-12-1999
11-05-2004
08-30-2002
11-07-2008
03-20-2015
09-25-2009
09-26-2003
08-16-2013
08-01-1980
03-09-2018
07-23-2002
11-25-2015
09-13-2019
11-27-2002
04-06-2001
07-11-2014
07-27-2007
03-11-1994
11-18-2016
07-18-1986
12-12-2008
09-21-2007
10-13-2006
11-20-2009
11-05-2004
10-14-2016
08-25-2017
02-07-2020
08-14-2009
06-17-1983
02-02-2007
10-05-2012
03-29-1996
09-30-2005
09-07-2007
02-20-2004
06-22-2001
09-27-2002
07-24-2009
11-18-1994
06-02-2017
04-17-2015
12-23-2016
04-22-2011
10-08-2010
01-14-2000
09-06-2013
03-23-2001
05-24-2002
01-22-2016
02-06-2009
09-27-2013
05-18-2001
12-21-2001
10-20-2017
09-27-1996
10-14-2011
09-07-2001
02-02-1996
10-10-2008
10-31-1997
10-19-2018
11-30-2001
04-08-2008
05-18-2012
09-21-2012
10-10-2008
11-21-2008
08-07-2013
11-25-2015
09-17-2010
09-23-2011
02-23-2018
09-12-2008
04-23-2004
04-04-2008
02-12-2016
02-26-2010
01-28-2011
07-18-2008
01-07-2000
05-29-2015
10-05-2018
02-15-2002
09-17-1999
10-07-1983
03-26-2010
05-02-1997
09-12-2014
12-16-2016
04-04-2003
02-25-2000
01-07-2000
01-03-1997
10-24-1997
01-28-2000
03-25-2011
04-14-2017
03-28-2003
09-08-2017
06-05-2009
11-20-2009
06-23-1989
06-11-1999
12-22-2010
05-15-1992
09-18-1998
02-08-2013
06-30-2006
07-08-2011
03-30-2001
07-17-2015
12-20-2013
12-08-1979
03-28-2008
05-09-2008
11-15-1991
12-06-1996
01-16-2009
03-25-2005
12-21-2012
09-19-1997
07-29-2005
09-19-1997
04-30-2010
08-18-2000
07-07-1995
04-07-2006
10-08-2010
03-13-1998
07-22-2011
05-20-2016
03-23-2007
10-24-2003
06-29-2018
11-25-2009
11-18-1992
05-22-2015
10-12-2018
01-19-2018
07-29-2005
07-03-2007
02-28-1997
10-17-2008
03-15-2002
03-26-2004
05-06-2011
12-01-2006
10-28-2011
04-23-2010
11-11-2011
11-17-2000
08-17-2018
05-08-2015
12-25-2015
10-13-2017
12-03-2004
12-23-1994
11-21-2001
03-28-2003
05-06-2005
10-19-2001
06-01-2018
08-15-2008
01-06-2017
02-22-2002
01-25-2008
11-21-1990
09-23-2011
12-05-1980
03-28-2008
02-12-1999
10-19-2012
03-26-2004
11-21-1997
09-16-2016
11-09-2001
12-25-1992
03-04-2016
04-09-2004
08-21-2015
01-19-2018
07-25-2008
08-24-2012
01-18-2013
08-19-2005
02-25-2000
02-25-2005
12-21-2007
09-20-2002
04-30-2010
01-25-2013
09-17-2004
09-15-2000
11-09-2007
01-18-1991
05-17-2011
08-17-2001
08-11-2006
01-18-2002
01-08-2010
03-28-2014
09-04-1998
09-11-2009
03-06-2015
10-09-2015
11-22-2006
12-25-2013
12-05-2008
09-05-2003
11-10-2006
03-11-2016
10-20-2017
11-06-2002
05-02-1997
09-26-2003
05-31-2011
02-21-1992
04-28-2016
02-28-1997
10-03-1986
05-16-1981
11-05-1999
09-06-2012
10-21-2011
01-18-2006
02-13-2015
05-13-2009
12-25-2011
06-28-2017
09-19-2014
04-10-2015
10-01-1993
08-03-2018
09-01-1999
08-27-1999
05-05-2000
12-25-1981
12-11-1992
06-02-2000
03-16-2001
07-08-2016
07-27-2012
08-18-2006
04-16-2004
09-08-2000
03-14-2008
04-23-1999
10-30-2015
05-13-2011
01-30-2009
04-26-2013
02-24-2012
11-07-2003
07-03-1996
06-12-2013
01-18-2002
06-16-2006
11-23-1988
08-27-2010
04-01-2011
09-10-1999
11-10-2000
04-20-2018
02-18-2011
01-15-1993
02-23-2007
12-14-1979
10-21-2005
12-20-2019
09-30-2005
03-15-2013
02-10-1995
04-30-2004
10-12-2018
09-03-2010
10-22-1999
03-19-2010
09-14-2007
09-06-1996
03-26-1997
01-21-2000
01-19-2007
12-21-2007
08-15-1979
11-20-2015
02-28-2018
04-12-2013
11-02-2012
01-19-1996
12-20-1985
06-29-1979
03-28-2014
07-29-2015
07-18-1990
04-28-2000
09-28-2001
01-22-2010
10-20-1995
06-08-1984
11-22-1995
08-15-2018
01-24-2003
06-25-1999
08-10-2001
02-10-2012
06-10-1994
03-02-1990
08-16-2013
09-29-2000
08-14-2009
06-18-2004

11-22-1991
11-10-1995
08-03-2001
03-05-1999
09-20-1996
01-28-2005
10-15-2003
12-18-2015
12-23-2009
06-25-2004
04-10-2009
01-18-2008
11-17-2000
08-18-2017
12-25-1991
07-01-2005
01-13-1995
09-28-2012
02-01-2013
01-03-2003
01-17-2014
02-16-2001
08-04-1995
08-08-2012
04-18-2008
10-08-2004
11-17-1989
04-25-2008
05-29-1998
01-09-2009
08-20-2004
06-10-2011
12-22-2017
10-07-2005
12-21-2007
09-23-2005
05-11-2018
05-14-2010
04-06-2001
02-12-1999
07-24-2015
06-09-1989
07-28-2017
07-03-2002
03-18-1994
01-11-2008
05-24-1985
01-14-2005
10-02-2015
09-22-1989
07-10-1987
01-19-2018
04-13-2012
07-16-2000
10-24-2014
01-13-2006
04-24-2015
08-06-2010
05-29-2009
09-18-2012
09-19-2003
11-10-2006
04-08-2011
08-16-2002
10-19-2007
12-19-1986
09-15-2006
07-20-1988
01-25-2008
11-13-1987
09-13-2013
02-09-2018
11-21-1997
07-01-2011
10-18-2013
11-08-2019
04-07-2006
03-02-2018
06-03-2015
06-01-2001
02-08-2013
07-02-2014
08-01-2014
01-05-2018
04-27-2012
07-15-2011
05-22-1998
06-13-2003
09-14-2018
08-04-1995
09-18-1998
02-04-2011
07-21-2006
09-01-2016
09-17-2004
06-14-2019
11-19-2010
01-12-2018
08-06-2004
01-19-2005
10-04-2013
02-06-1998
04-28-2017
03-03-2006
10-21-2005
08-19-2011
09-15-2017
10-23-2015
07-17-2002
07-19-1996
10-05-2010
09-16-2008
04-09-2004
08-01-1986
10-24-2008
08-26-2005
04-30-2004
06-20-2003
09-03-2004
01-20-2006
06-29-2007
01-18-2013
01-15-1999
03-12-1999
08-05-2016
01-12-2001
03-08-2013
04-10-2009
09-24-2004
09-16-2005
02-03-2017
06-21-2019
01-08-2010
09-20-2002
08-31-2018
06-01-1984
09-29-2017
01-22-1999
01-11-2019
10-19-2007
02-18-2005
08-17-2005
03-09-2007
11-02-2011
01-14-2015
06-19-2014
12-13-1969
05-14-2014
10-06-2017
04-11-2007
02-07-2003
02-24-2017
05-15-2015
11-18-2005
09-28-2018
04-08-2016
01-05-1996
09-12-2003
04-14-2000
08-18-2017
08-12-2016
01-23-2009
11-12-2004
08-23-2002
01-24-2003
08-28-2009
11-06-1987
08-28-2020
09-24-1999
03-04-2005
11-25-1992
05-23-1984
08-14-2015
07-21-2017
11-20-1998
07-20-1988
04-06-2001
11-01-2017
02-14-2013
12-23-2015
08-09-2019
11-07-2008
10-10-2014
02-06-2004
11-01-2013
01-26-2001
03-19-2004
06-26-1981
06-15-2018
01-04-2002
04-25-2003
10-05-2001
04-16-2010
09-28-2001
09-16-1994
07-27-2007
07-16-1993
11-23-2005
08-12-2011
12-22-2000
06-25-1982
04-14-1995
02-21-2014
08-16-2013
10-12-2007
09-19-2014
01-15-2010
04-25-2014
05-12-2006
10-13-2000
08-21-2015
02-05-2016
10-01-1999
07-11-1997
10-30-2015
01-16-1998
10-03-2008
09-01-2006
06-01-2007
06-10-1983
06-26-2009
02-08-2008
01-13-2012
02-01-1985
01-26-2007
10-19-2007
10-28-2011
03-18-2011
12-06-1991
06-26-2019
10-03-1997
06-20-1980
12-25-1994
08-06-2008
05-13-2016
05-17-2002
07-16-1999
04-07-2006
02-17-1984
04-10-2009
02-27-1998
10-10-2008
06-10-2005
06-21-1985
03-27-1998
08-27-2004
11-02-2007
11-24-1999
09-20-2005
10-31-2008
02-27-2004
01-01-1975
01-16-2009
08-06-2003
08-19-2005
01-08-1999
12-21-1990
08-06-2008
01-14-1994
07-31-1998
08-10-1990
08-15-2003
08-19-2005
12-09-2011
06-15-1977
04-26-2013
01-31-2003
02-02-2001
01-14-2005
01-22-2010
08-29-2012
03-29-2002
07-10-1985
12-04-2009
10-17-2014
03-12-2004
08-03-2001
04-27-2012
02-20-2004
04-08-2016
11-01-2019
08-24-2001
10-18-2013
10-30-2013
02-10-2015
05-17-1996
08-31-2005
10-17-2008
02-25-2004
11-24-1993
12-16-1988
08-10-2011
01-06-2017
01-09-2009
02-15-2009
01-17-2014
11-25-1992
02-04-1994
07-02-2003
03-26-2004
07-09-2004
08-15-2003
02-16-2007
12-21-2001
01-18-2008
02-05-2010
03-22-1991
12-25-2012
06-03-1987
11-21-2007
04-13-2001
01-19-2001
01-21-2011
01-13-2012
01-27-2017
04-20-2012
12-25-1993
03-22-2000
06-06-2006
02-10-2006
04-22-2011
12-17-2004
08-12-2011
01-28-2005
05-23-1986
08-22-2008
03-14-2003
09-21-1990
08-15-2014
12-09-1983
07-18-1997
04-15-1988
11-20-2015
10-15-1993
02-14-2003
08-22-1997
01-25-2008
12-20-2002
06-13-2003
06-01-2005
05-31-2002
01-10-2014
07-06-2001
05-16-2014
03-30-2005
04-04-2003
12-23-2003
09-07-2018
09-21-2007
02-28-2003
03-17-2006
12-25-2014
08-24-2007
04-29-2016
10-16-1998
02-17-2017
11-21-2007
08-27-2004
12-09-2011
02-19-1999
09-23-1970
04-11-2014
10-14-1994
02-03-2017
05-22-2009
04-20-2001
07-26-1996
03-18-2005
04-23-2010
04-24-2009
04-22-2005
05-01-1998
02-11-2011
08-05-2015
09-02-2011
03-24-2017
11-01-2002
02-20-2004
12-22-2017
04-04-2008
10-25-2013
12-08-2006
12-21-2018
04-01-1988
11-15-2002
11-22-1986
07-26-1996
09-30-2005
11-06-2009
03-03-2000
10-08-2010
04-09-2004
08-29-2008
09-13-1996
09-13-2002
08-03-2007
09-09-2011
01-21-2000
09-29-2017
12-21-2012
11-13-2015
06-21-1985
04-12-2011
07-03-2002
07-02-1986
10-25-1996
03-28-2008
10-08-1993
10-18-2002
09-16-2011
08-13-1999
08-30-2002
04-19-1996
05-17-1991
01-25-2019
11-25-2009
10-25-2018
02-01-2007
03-15-2019
08-17-1984
09-02-2005
03-23-2001
03-24-2006
04-25-2008
03-31-1995
04-22-2005
10-03-2008
04-13-2018
11-18-2011
09-01-2017
11-20-2015
12-11-2009
01-29-2016
09-16-2005
10-07-2005
09-11-1998
05-23-2012
01-06-2011
01-18-2008
05-10-2019
07-26-2011
03-13-2014
10-29-1970
12-09-2001
09-27-2012
11-26-1986
12-12-1997
10-11-2019
02-21-2003
12-20-2006
06-20-2014
12-25-2016
02-18-2000
10-14-2011
04-07-2017
07-12-1991
09-27-1991
11-13-1998
11-21-2007
12-16-1969
04-07-2000
11-06-2009
10-31-2008
01-12-2001
01-14-2000
09-08-2000
08-20-2010
11-24-2010
10-24-1978
01-23-2004
07-14-1999
04-07-2000
01-16-2015
09-16-2011
01-21-2000
12-20-2013
12-29-2004
03-27-1998
10-30-2016
10-02-2009
11-06-1998
06-28-1991
11-16-2018
04-07-1995
01-16-2015
03-17-2000
12-17-1976
10-07-2011
02-18-2000
10-19-2018
03-30-2001
07-02-2014
10-05-2001
01-13-2012
11-12-1999
09-01-2004
06-14-2016
08-25-2000
02-28-1997
01-09-2004
08-22-2008
01-21-2000
08-23-1991
09-28-2007
07-17-2009
06-28-2013
03-31-2008
06-24-1987
06-22-2007
12-09-2016
12-26-2014
07-13-1990
07-15-1998
11-11-1994
09-07-2018
09-28-2007
03-29-2002
06-02-1995
02-28-2014
06-01-2001
08-08-2014
02-25-1983
09-19-2003
07-28-1995
08-03-2012
01-25-2002
11-11-2005
09-18-2009
11-22-2013
02-05-2016
08-24-2001
01-14-1994
08-27-2008
08-12-2005
05-19-2017
01-18-2008
11-27-2013
09-19-2008
02-09-2001
07-02-1999
09-14-2001
09-04-2015
06-13-1980
04-11-2001
04-02-2012
10-27-2000
10-22-2004
11-22-2017
12-06-2013
11-05-1993
08-27-1999
12-08-2017
06-24-1970
09-18-2005
10-31-2014
10-22-2010
05-01-2006
06-24-1977
01-31-2007
10-12-2007
07-09-1999
12-20-1996
07-06-2012
12-25-2012
04-06-2018
04-05-2019
06-30-1999
06-18-1982
04-16-2010
03-19-1993
09-14-2001
11-05-2010
01-05-2007
05-10-2019
08-04-2017
10-11-2002
03-14-2008
01-06-2012
11-05-1999
03-12-1999
08-01-2008
06-26-2009
10-04-2002
05-19-2011
02-24-2017
07-01-1999
02-01-2019
09-13-2019
04-23-1999
07-23-1982
08-11-2006
06-12-1981
11-22-1991
03-22-2019
11-20-1992
12-14-1977
05-20-1987
12-25-2016
07-19-2013
03-07-2003
02-14-1991
02-14-1992
10-15-2010
07-29-2016
01-18-2019
06-16-1978
10-03-2008
07-02-2014
08-16-2019
01-21-2005
12-09-2011
10-03-2003
04-13-2007
07-16-1993
10-21-2016
08-18-1995
06-23-2004
04-24-2009
04-18-2003
03-31-2010
04-02-2010
11-08-2013
12-13-2002
06-03-2016
02-08-2019
04-15-2016
12-14-1990
09-14-2018
01-23-2015
12-12-1980
02-17-2006
02-14-2003
03-16-2007
02-04-2005
02-11-2000
11-20-2015
11-27-2019
03-30-2018
03-21-2008
07-24-2009
11-17-2017
01-26-2007
09-19-2008
10-13-2006
07-27-2016
05-14-1982
08-14-1998
07-19-1991
10-13-2006
02-19-2016
08-18-2010
12-21-1979
09-01-2010
03-21-1997
11-04-2011
03-19-2004
01-04-2013
11-10-2006
09-19-2014
12-25-2008
10-15-2004
10-27-1995
03-12-2010
01-30-2009
10-15-1969
08-15-2011
10-25-2002
03-07-2008
03-20-1998
10-16-2009
03-31-2000
04-28-2006
01-04-2008
01-12-1996
04-11-2008
08-23-2013
01-19-1996
09-24-2010
06-15-2007
01-11-2019
02-14-2014
09-08-2006
07-01-2011
03-24-2006
06-16-2017
12-04-1998
10-19-1990
10-06-1995
08-21-2009
10-30-1998
10-03-2008
11-20-2015
08-13-2004
03-23-2007
09-19-2008
05-11-2007
07-31-1981
04-12-1985
10-19-2007
09-11-1998
02-11-2005
09-29-2006
11-03-1995
04-07-2017
02-20-2009
04-22-2005
07-26-2002
09-29-2017
03-16-2007
01-16-2004
12-04-2009
01-11-2008
09-03-2004
01-17-2003
04-09-1965
07-21-2000
03-06-1998
10-02-2009
04-13-2012
08-29-2008
09-30-2011
11-14-1997
10-30-2015
04-30-2004
10-13-2006
02-24-1995
09-19-2008
03-07-2003
02-26-2016
09-02-2016
10-28-2005
08-23-2002
03-27-2009
10-01-2010
05-06-1994
02-22-2008
02-17-2006
01-02-1998
10-22-1999
12-15-1989
01-17-1997
08-31-2007
06-03-2016
10-27-2017
12-04-2009
08-27-2004
09-20-2013
04-29-2016
09-07-2007
09-09-2005
01-05-2007
01-09-2015
10-11-2013
05-17-1969
02-24-2006
10-07-2005
10-03-2008
03-14-2003
02-01-2008
04-24-2015
02-11-2000
10-26-2012
01-30-2015
11-10-2011
07-28-2006
08-14-2009
01-28-2005
10-29-2004
08-26-2016
10-17-2008
10-03-2008
09-07-2012
11-21-2008
11-02-2018
11-13-2015
06-20-1980
08-22-2003
12-06-2002
08-29-2012
06-13-2008
10-27-2000
03-31-2010
12-09-2010
12-09-2015
08-26-2005
09-09-1994
01-07-2011
01-30-2008
10-02-2015
07-30-2014
12-28-2012
05-29-2015
11-09-2016
11-14-2014
07-22-2016
02-14-2003
12-21-2018
12-22-2017
01-19-2007
07-11-2013
09-08-2011
07-03-1985
11-21-1990
07-07-2000
06-24-2011
08-12-2016
09-15-1989
01-10-2003
09-11-2009
07-16-2004
06-13-1980
10-29-1999
02-26-2010
01-16-2009
11-02-2018
08-20-2010
01-08-2010
11-27-2013
10-19-2007
07-26-2000
11-08-1962
10-17-2008
01-09-1998
03-04-2011
09-28-2012
06-01-2018
03-26-1964
11-24-1993
08-16-1996
05-01-2006
04-15-2005
02-14-2003
10-02-2009
05-22-1998
04-02-2020
05-09-2014
11-03-2006
07-29-1994
06-03-1988
07-13-2001
04-30-2004
06-01-1984

09-09-2005
12-10-1999
02-06-2004
12-16-2005
11-26-2003
06-12-1987
03-25-2016
09-11-2015
05-02-1997
03-25-2011
09-19-1984
04-11-2008
04-08-2011
09-26-2003
06-29-2018
11-14-2014
10-10-1986
01-18-2002
01-11-2002
08-23-2013
04-28-2006
12-05-2003
10-14-2005
05-24-1996
08-07-2015
02-16-1990
06-29-1984
11-13-2015
06-24-1970
04-10-2009
12-19-1980
09-18-2009
09-25-2009
04-28-2017
12-04-1985
01-28-2011
05-19-2000
05-12-2000
01-15-2016
02-06-2004
08-16-2013
11-09-2001
07-25-2014
07-10-2009
07-24-1981
03-30-2001
05-22-1981
08-30-2013
11-26-1997
02-18-2005
03-24-1989
06-26-1981
10-07-1994
10-31-2008
06-25-1982
12-25-1996
02-02-1996
04-21-2016
12-09-2016
10-04-2013
09-19-2003
02-23-1996
03-31-2017
04-25-1986
03-01-2013
06-21-2002
10-08-1999
10-11-2010
03-15-2006
04-22-2011
04-15-2016
08-28-2014
04-08-2008
08-22-2014
02-02-2016
07-03-1985
03-02-2012
08-17-2007
02-20-2009
02-14-2008
03-01-2006
02-04-2005
08-25-2006
11-27-2013
02-14-2007
04-06-2018
08-10-2001
07-18-1986
08-13-2014
10-17-1997
12-25-1964
01-21-2005
11-15-2013
02-13-2009
10-05-2012
04-05-2013
02-20-2015
11-01-2019
11-11-2016
03-10-2006
07-12-2019
03-01-2002
10-10-2003
04-17-2007
10-02-1998
03-04-2011
07-06-2010
07-09-1982
08-20-2010
09-05-2003
03-31-2006
08-24-2001
01-22-1999
03-24-2006
07-24-1987
10-01-1999
05-06-1963
06-05-2009
04-21-2006
02-24-2006
08-24-2012
04-30-2004
08-29-1986
11-12-1981
10-17-2003
06-10-2016
10-21-1977
03-11-2016
10-20-2006
11-27-1991
12-11-1987
01-26-1996
09-01-2006
08-10-2007
01-09-2004
09-21-2007
06-09-1989
07-21-1989
05-19-2000
12-17-1982
01-15-1999
06-29-2012
01-20-2012
01-09-2009
08-02-2002
10-06-2006
02-04-2011
02-02-2007
02-01-1985
03-02-2001
08-09-1991
06-27-2001
04-11-2001
09-12-2008
04-20-2007
08-15-2008
06-16-2000
06-13-2018
11-18-1994
03-12-2010
10-11-2002
09-18-2009
03-03-2000
01-30-1987
07-18-2003
10-03-2014
05-28-2004
12-09-1988
06-29-2012
05-28-1999
09-03-2004
10-19-1979
03-07-1986
11-18-2016
05-03-2002
09-15-2000
08-13-1999
05-18-2014
03-27-2013
04-24-2014
08-15-1997
03-31-2006
07-17-2008
11-02-2012
12-04-2013
12-21-2018
06-21-2002
12-06-2002
07-27-2007
05-15-2005
03-31-2006
11-16-1990
12-05-1984
05-16-1986
12-17-1982
12-25-2010
10-01-1999
01-12-2001
12-09-1988
12-20-1996
08-11-2017
06-28-1978
02-07-1986
12-25-2014
03-30-1988
01-29-1960
03-11-2016
01-18-2013
10-10-1980
03-07-1980
03-06-1987
03-19-2010
08-31-2007
11-17-2006
10-12-2007
02-03-2012
12-25-1994
08-10-2018
02-03-2006
02-08-2002
08-15-1997
01-09-1998
02-22-2013
05-02-2003
12-04-2015
09-21-2012
12-25-1998
06-25-1993
12-14-2001
08-21-2014
12-11-1962
11-26-2014
09-16-2011
03-31-2000
12-10-1966
12-21-2018
04-18-2003
09-04-2009
04-28-2000
03-13-2009
02-18-2005
02-04-2005
10-09-1987
07-12-2002
12-25-2007
08-22-2014
06-12-1981
02-20-2004
04-17-1998
05-11-2007
04-11-1997
09-08-2017
10-27-2000
10-31-1997
07-23-2010
08-27-2014
05-03-1996
01-20-2006
11-19-1993
01-15-1993
09-22-2000
11-25-2016
10-20-2006
04-29-2016
01-07-2011
10-11-2002
10-13-2006
07-24-1998
03-06-1998
08-01-2014
11-02-2012
05-11-1984
02-01-2019
11-30-2012
04-20-2001
08-19-2011
08-06-2004
10-02-2009
09-01-2000
01-20-2017
08-25-2006
04-25-2003
08-16-2019
08-27-1999
04-03-1998
03-10-1989
11-25-1998
03-24-2000
10-08-2004
12-18-1985
04-23-1993
06-22-2007
09-30-1983
09-30-2016
03-24-2000
06-21-2002
05-21-1999
05-05-2006
11-27-2015
02-29-2008
04-01-2013
10-19-2001
06-08-2018
08-20-2008
08-21-2009
07-03-2009
07-19-2000
09-24-1999
11-18-2005
04-30-1999
10-30-2015
01-26-2007
10-22-2010
10-23-2015
10-15-2010
09-09-2016
05-20-2004
09-05-2008
10-22-1999
01-17-1986
11-24-1999
10-12-2003
12-01-1995
07-21-2004
07-30-2010
10-12-1996
05-16-2008
07-09-2011
01-18-2008
10-25-2013
10-17-2014
12-03-2015
07-10-2008
11-21-2018
04-10-2015
02-12-1993
07-01-2015
11-01-1996
04-05-2015
08-07-1992
03-23-1990
09-18-1987
12-25-2008
01-01-1975
01-05-1990
10-01-1993
01-12-2007
01-16-2009
08-31-2012
10-22-1982
08-03-1977
09-25-1998
12-25-1981
06-12-2012
01-18-1991
02-24-1989
11-08-2019
10-08-1999
08-24-2012
07-23-1993
10-04-2002
03-08-2002
06-17-1977
03-12-2010
10-27-1995
08-22-2003
08-07-2009
10-25-1996
08-21-1998
05-14-1999
06-21-1977
11-02-1984
05-13-1994
03-16-2007
02-20-2015
02-02-2001
10-26-2012
02-09-2007
04-21-2000
04-23-1999
10-27-2006
10-31-2014
09-07-2001
03-31-1995
09-10-2010
11-02-1978
06-12-2003
09-26-2008
06-01-2012
01-13-2006
07-19-1995
03-26-2010
03-30-1990
10-05-1956
01-10-2003
10-12-2012
12-25-2000
02-12-1982
04-13-2005
09-20-2001
10-01-2004
09-12-2014
01-15-1988
12-17-2010
01-12-2001
02-11-2011
07-04-2018
03-16-2016
02-11-2000
01-23-2004
12-20-1974
06-24-2016
07-17-1987
08-19-1988
11-21-2007
02-14-2014
12-15-2000
08-12-1988
10-24-2014
07-02-2014
03-31-1999
05-10-2002
02-05-1993
03-12-1999
04-24-1998
11-09-1990
07-10-1996
11-21-2007
07-14-2015
12-03-1999
09-07-2001
06-28-2016
03-22-2013
10-12-2012
06-29-2001
08-28-1998
01-22-2016
10-16-2015
02-02-2007
06-12-1998
07-17-2015
05-08-1998
04-13-1994
08-04-1999
11-10-1999
08-24-2001
12-22-2002
12-05-2018
08-24-2007
10-09-2010
12-04-2015
04-03-1996
03-17-2006
05-14-1993
10-13-2006
05-13-2011
08-14-2015
02-02-2001
10-10-2018
02-16-2012
06-08-2010
12-07-2018
10-19-2013
03-15-2013
08-12-2016
09-12-2014
07-12-2002
09-03-2010
01-10-2003
11-22-2002
09-10-1993
09-11-2009
10-02-1992
04-02-1982
08-17-1979
11-05-2010
11-02-2007
09-07-2010
10-06-2000
01-07-2011
12-31-1997
11-01-1996
04-16-2010
10-17-2012
11-01-2016
11-18-1988
06-20-1975
12-26-1973
06-06-2014
07-09-1999
04-20-2012
04-16-2014
12-12-1986
06-04-1982
09-13-2002
06-03-1983
02-04-1994
02-24-2012
02-08-1985
08-11-2006
02-03-2012
12-20-1996
04-02-1970
03-02-2012
12-01-2017
01-06-2017
05-04-2018
12-25-1997
01-06-1984
04-25-2008
11-27-2013
11-06-1981
02-15-2002
07-24-2015
10-10-2008
09-13-2002
02-01-2008
04-07-2004
12-21-2001
11-17-1960
09-01-2006
12-11-1992
08-26-2016
11-22-2002
07-05-2012
12-12-2014
09-11-1998
04-28-1967
08-22-1979
01-30-2015
05-14-2010
09-10-1999
01-13-1995
10-06-1978
04-01-2005
03-03-2006
01-24-2014
01-09-2004
10-05-2001
12-16-2011
11-08-2013
12-25-2018
07-14-2017
11-06-1998
10-31-2008
03-20-1981
01-30-2004
02-24-2016
01-14-2005
03-22-2002
10-13-2017
12-05-2008
09-14-2012
10-27-1960
05-12-2000
10-27-2006
06-01-2012
11-22-2006
11-20-1998
06-20-2003
06-06-1986
03-22-1996
10-31-2003
06-24-2008
12-25-2003
11-13-1981
03-19-1999
06-28-2002
03-01-2013
05-11-2012
05-27-2005
05-24-2012
03-09-2001
10-18-2002
10-31-1997
10-18-2007
02-18-1999
02-18-2016
06-06-2011
11-11-2015
10-24-2010
10-03-2014
10-30-2015
06-05-2009
10-29-2015
02-18-2000
01-15-2016
04-21-1989
01-22-2016
08-19-2009
12-18-2009
06-08-1984
12-31-1965
12-17-2010
01-24-1992
09-22-2006
03-13-1992
08-22-2014
04-07-1989
01-25-2002
02-02-1996
03-05-1999
11-25-2015
10-17-2008
04-10-2015
06-12-1981
01-19-2018
10-23-2009
10-12-2001
02-22-2019
08-07-1992
12-18-1975
03-01-2013
11-21-2001
10-13-2000
03-30-2001
01-10-2014
07-13-1977
02-01-1993
01-07-2005
05-10-2013
03-04-1994
11-08-2018
07-06-2016
02-01-2002
11-14-2003
02-04-2005
01-19-1996
05-12-1995
05-24-1970
08-02-1991
11-30-2016
03-08-2007
12-17-2014
03-01-2012
02-05-2016
10-18-2019
10-24-2008
08-11-2006
06-22-1979
06-04-1982
06-30-1999
01-01-2004
09-19-2013
06-11-1982
05-12-1968
04-20-2007
09-02-1994
08-26-2004
02-18-1983
04-30-2010
08-24-2007
10-19-2018
01-09-1998
10-22-2004
06-26-1981
10-27-2006
07-01-2016
08-25-2000
01-05-2018
01-29-1999
10-26-2007
02-24-2006
01-07-2005
10-17-1986
06-05-2015
10-02-1992
12-01-2017
10-05-1956
06-08-2018
03-16-2018
02-17-1989
10-04-1962
02-16-1996
10-27-2017
08-31-2001
06-28-1985
09-27-1968
02-16-2001
07-10-1985
11-03-1977
01-22-2016
10-04-1985
05-19-2017
09-17-2010
11-22-2002
03-06-2015
03-22-1985
04-28-2017
03-06-1992
10-03-2008
01-01-2004
11-12-1999
08-10-2018
09-20-2002
01-19-2001
05-19-1989
07-27-2018
09-09-2016
06-24-1983
11-23-1994
08-30-2013
09-06-2002
10-06-2006
08-21-2015
01-08-2016
11-06-2009
03-25-1983
06-12-1998
08-17-2012
10-14-2016
10-01-2013
11-12-2010
12-08-2017
09-16-2016
10-21-1983
02-02-2001
06-09-2006
02-23-2007
10-23-2015
07-02-2008
09-27-1985
09-23-2005
02-19-1999
01-19-1990
06-17-2005
08-03-1990
01-25-2002
10-07-2016
05-30-2003
05-16-1980
03-12-1999
08-14-2009
12-23-2011
12-25-2014
08-26-2005
06-28-2002
01-27-2006
03-14-1997
01-19-2001
03-09-2001
02-19-1999
07-23-1999
04-05-2019
11-25-1998
07-09-2004
11-02-2018
10-26-1984
05-21-2010
02-01-2008
10-24-2001
06-22-2012
12-01-2006
11-11-2016
03-18-2011
11-30-2012
11-20-1998
11-03-1999
05-03-2002
12-18-1981
04-10-2015
11-20-2007
03-25-2000
08-08-2019
10-26-2001
06-14-2018
10-21-2016
10-14-2016
04-07-2016
03-21-1997
08-04-1999
11-27-2014
03-07-2001
05-01-1987
06-23-2006
09-09-2011
09-16-2016
10-20-2000
02-11-1981
06-20-1975
07-28-2011
07-11-2003
03-09-2000
06-27-2003
10-14-2010
06-23-2006
06-02-2017
09-01-2000
03-21-2014
09-25-2003
10-19-2007
09-07-2007
10-02-2013
10-11-2002
06-13-2008
09-12-2007
11-10-2005
10-26-2001
09-24-2010
05-03-2013
11-18-2011
09-09-2016
05-11-2012
01-08-2007
07-19-2006
02-19-2010
08-28-2009
09-26-2004
11-07-2014
08-28-2009
07-10-2015
10-16-2009
01-10-2008
12-26-2014
01-01-2019
03-17-2011
11-07-2014
04-21-2010
06-10-2011
09-26-2014
02-20-2018
11-17-2017
10-24-2009
03-09-2010
02-02-2007
04-27-2012
09-22-2017
04-30-2010
04-03-2009
09-20-2012
10-30-2015
01-12-2000
06-13-1967
06-10-1988
12-21-2016
03-19-2010
05-27-2010
10-16-2015
12-03-1963
01-26-2007
05-26-2011
08-07-1981
11-13-2012
12-29-1995
05-21-2010
11-11-2016
08-04-2011
02-08-2012
10-17-2003
11-03-1971
07-18-2014
12-22-1965
05-30-2008
11-06-1996
10-21-2016
10-22-1999
11-09-1988
02-13-2019

07-03-2007
06-16-2015
01-21-2000
07-30-2004
10-13-2000
02-18-2000
12-25-2006
11-18-2016
12-02-2016
03-16-1984
05-14-2004
08-12-2011
11-08-1989
11-04-2016
02-01-2008
04-16-2003
09-08-2000
05-17-2019
08-27-2008
10-04-2002
04-29-1994
09-29-2000
06-01-2007
08-09-2012
08-26-2016
12-27-2018
08-26-2005
10-23-1998
05-13-2016
10-18-2002
11-22-2006
08-25-2015
10-10-1968
11-11-2015
09-26-1986
05-21-2004
11-30-2007
12-06-2019
12-16-2016
02-05-2010
08-15-2008
02-20-2015
10-31-2014
07-31-1987
01-16-2019
11-07-1979
10-07-2016
05-07-1999
02-27-2004
10-09-2009
09-21-2001
06-20-2014
11-20-2008
10-19-2017
02-12-2010
03-23-2007
05-31-2013
07-07-1999
08-17-2010
12-25-1951
04-01-1965
02-17-1984
10-14-1994
06-22-1984
06-22-1979
03-09-1984
08-18-2006
09-17-2010
11-26-1986
01-30-2004
05-03-2019
09-30-2011
09-02-2015
10-11-2002
02-26-1993
01-31-2014
03-21-2008
12-25-1981
12-19-1969
07-02-1993
05-08-1992
11-12-1982
04-28-2006
10-14-1994
10-01-1999
10-11-2013
01-16-1998
01-30-2009
08-30-2002
08-11-2006
04-29-2011
04-22-1994
01-26-2001
07-01-2015
10-08-2010
10-21-1983
05-03-1996
09-22-2000
09-02-2016
06-07-2016
02-17-2006
02-04-2011
08-23-1991
09-25-1998
09-20-2010
11-11-2016
01-24-1997
10-28-1983
05-28-2009
11-14-2003
02-09-2007
10-26-2018
04-06-2011
06-12-1998
06-18-2010
04-11-2008
11-18-2016
04-12-2007
02-04-2005
08-26-2016
04-27-2018
11-15-2019
05-22-2014
12-18-2009
05-06-2016
08-01-2003
01-26-1990
09-26-1997
08-07-2009
06-08-2007
02-05-2010
09-04-2009
01-10-2003
11-04-2005
03-09-1984
11-22-2002
02-22-2008
01-21-2005
02-22-2012
06-24-2016
08-08-2003
04-13-2018
12-28-2004
04-20-2001
04-27-2012
06-05-2015
01-13-2017
04-27-2007
07-09-2014
02-22-2008
12-17-1971
08-27-1999
10-21-2011
12-25-2007
03-24-1972
06-29-2012
04-15-1983
03-16-2018
03-15-2019
08-09-1985
02-11-1994
05-06-2011
06-27-1973
03-03-2000
01-24-2003
02-14-2008
11-04-2005
02-03-2006
03-29-1974
12-26-2006
08-25-1995
06-23-1976
04-12-2017
04-05-1996
04-11-2001
12-20-1974
02-12-1988
05-13-1983
05-05-2000
06-19-2015
05-24-2019
02-14-2020
07-22-2005
01-17-2014
04-12-1996
11-14-2014
07-31-1992
08-25-1999
04-11-2003
10-11-1985
10-10-2003
11-06-2009
02-05-2010
09-09-1988
07-16-2010
09-01-1999
01-31-2003
07-27-2007
05-01-1992
03-15-1991
04-12-2002
09-28-1990
06-27-1986
11-12-2004
05-09-2008
08-27-1999
11-01-2002
09-21-2018
01-21-2011
07-17-2007
11-15-2013
09-25-2009
04-22-1983
10-13-1977
11-05-2015
11-15-2013
01-27-2011
09-18-1998
09-06-2003
09-17-2015
06-19-2014
08-17-2007
03-11-2008
06-28-1985
09-21-2012
02-10-1994
01-12-2011
10-05-2006
01-01-2004
02-07-2010
10-03-2014
02-01-2008
07-12-1991
07-24-1987
05-22-1981
07-25-1980
10-25-2019
04-02-1993
04-09-1999
04-21-2006
03-12-1971
10-22-1999
10-20-2017
01-13-2012
06-28-2013
12-04-2009
10-14-2004
04-29-2011
10-26-1984
05-14-2004
09-26-2007
03-27-2009
04-19-2018
10-20-1995
06-16-1978
02-06-1987
08-13-1982
06-25-2004
09-24-1969
06-18-1965
02-26-1981
05-11-2018
12-23-1961
10-17-1956
07-25-1980
03-23-2001
01-30-2009
07-21-1989
07-10-1981
07-16-1999
08-16-1995
06-20-1974
09-12-1947
03-29-2019
10-20-2000
01-19-2007
05-09-2003
02-08-2019
11-30-2018
02-12-1988
08-08-2007
10-21-1988
08-21-1956
05-01-1998
05-24-1995
10-13-1989
09-07-2012
02-26-2016
03-23-2001
02-26-1999
05-11-2012
07-07-2011
03-07-2008
12-04-1998
03-13-2009
02-05-1999
07-25-2014
02-16-2007
03-13-2014
08-27-1993
08-31-2001
11-26-2003
08-01-2008
12-14-2001
01-15-2018
06-24-2011
09-14-2018
12-21-2001
08-30-1991
06-19-1969
11-01-2002
02-19-2003
08-31-2007
03-24-2010
10-16-2015
11-09-2012
09-05-2008
10-25-2017
05-31-2010
05-12-1995
04-22-2012
04-03-2011
07-29-2016
02-04-1983
08-30-1996
04-03-1968
07-04-1965
10-03-2003
09-28-2012
06-12-1998
08-20-2012
02-07-2014
09-01-2006
07-12-2002
07-16-2010
12-07-2012
02-01-2010
12-25-1973
04-09-1982
02-25-2005
02-14-1997
09-27-2013
04-07-1973
09-28-2018
09-19-2003
09-22-2017
09-21-2001
03-29-2002
06-06-1980
10-27-2004
10-24-2003
09-08-2011
05-26-2017
07-15-2011
09-10-2014
01-26-2006
08-10-2012
04-25-2008
01-26-2017
08-01-1945
04-22-2011
10-03-1980
08-02-2002
02-24-2017
04-18-2017
10-28-2005
09-13-2013
07-22-2016
09-11-2015
10-25-2002
10-13-2017
10-19-2012
10-24-2014
05-31-2019
02-27-1987
08-07-2015
07-14-2017
05-21-1975
12-04-1953
10-19-1991
08-23-2019
01-30-2004
01-03-2014
07-20-1955
03-31-2014
11-22-2013
08-26-2015
10-10-1980
02-27-2015
08-26-2011
03-09-2018
07-21-2006
04-08-1998
11-10-2000
07-26-2013
08-29-2014
04-01-2016
02-20-1998
11-05-1982
10-23-1991
03-26-1999
02-19-2016
09-25-1981
05-12-2015
10-21-1988
09-02-2011
03-23-2018
10-10-2014
09-29-1995
12-17-1954
11-07-1997
04-10-1981
07-28-1989
06-09-2017
09-24-2004
10-31-2008
06-21-1996
03-28-1986
05-21-1982
03-03-2017
04-15-1983
08-25-2009
01-29-2016
12-14-1957
12-25-1959
08-20-1982
01-09-2009
12-13-2019
05-09-2014
03-11-2016
10-06-2000
06-11-2004
03-12-1976
12-08-1978
04-27-2001
09-21-2018
07-21-1989
02-02-2011
01-06-2006
07-29-2016
09-11-1998
08-31-2001
07-10-2009
09-11-2015
12-02-2016
06-02-2006
11-21-1997
09-05-2008
02-25-1983
03-03-2017
04-20-2016
10-14-1994
03-04-2016
10-09-2014
01-28-2011
10-23-2015
11-17-2016
01-30-1998
04-24-1992
12-03-2004
03-13-1992
08-15-2008
09-12-2014
10-17-2003
02-02-2007
02-21-1996
08-16-2013
07-27-2007
05-29-2008
03-27-1998
08-07-2015
02-27-2004
01-16-2008
11-16-2007
02-21-2015
04-15-2005
11-07-2009
05-15-2015
09-11-2014
03-20-2012
04-18-2009
03-14-2008
12-05-2014
09-02-2016
02-17-2009
05-07-2010
10-20-2017
11-21-2014
08-09-2016
06-02-1978
11-12-2011
04-28-2012
09-22-2000
09-26-2017
09-02-2016
10-08-2014
06-16-2012
03-14-1997
03-28-2006
11-10-2011
08-22-1986
04-22-1988
10-13-2006
03-12-2010
04-14-2015
07-09-2004
09-14-2012
10-22-2004
08-28-2007
03-23-1984
04-15-1994
07-02-1980
08-13-1982
02-28-1997
01-10-2003
10-11-1985
11-08-1956
10-16-2015
10-04-1996
12-15-2000
03-09-1962
04-23-1986
01-30-2002
07-01-2011
05-08-2015
05-01-2010
02-14-2010
03-01-2013
11-27-2014
02-19-2013
06-13-2014
08-28-2015
11-05-2015
06-18-2019
11-19-1975
06-16-1976
10-01-2014
01-28-2003
12-04-2009
10-19-1990
06-03-2010
10-21-2011
01-20-2006
02-05-1953
02-19-1993
10-03-2003
04-20-1977
01-23-2015
05-01-1952
02-09-1996
03-01-2002
08-15-2014
01-02-1961
07-30-2010
08-17-1979
04-18-2014
06-14-2019
03-01-2013
12-18-1974
05-30-1956
08-16-1985
11-04-1988
09-01-2000
07-04-1963
05-13-2016
07-28-2006
11-14-2001
03-01-2000
12-08-2008
01-16-2004
02-01-1961
08-04-2006
02-03-1995
12-14-2007
09-29-2007
10-11-2002
12-19-1969
11-17-2006
12-25-1995
10-11-2002
04-25-2003
01-13-1989
09-10-1999
03-15-2019
07-13-2007
06-17-2011
10-07-2005
09-30-2011
03-03-2006
03-20-1987
07-04-2012
07-10-2014
01-07-2000
10-25-2013
11-21-2014
10-12-1988
11-16-2016
04-22-2016
03-13-2011
03-23-2001
03-21-2003
06-20-1997
04-11-2014
12-08-2011
04-01-2013
08-17-2018
11-17-1972
11-15-1930
01-01-1968
01-19-2016
02-28-2014
07-21-2012
09-08-2015
01-17-1940
05-03-1967
10-08-1927
11-27-1976
03-15-1965
11-14-1974
05-17-1950
05-07-2010
04-16-2015
03-18-1970
06-11-1948
12-22-2006
11-03-2006
06-16-1969
07-02-1980
09-19-1997
04-13-2018
05-26-1993
04-26-1995
05-17-2016
02-02-2018
01-19-2018
12-06-2002
02-22-2013
01-19-2018
05-01-1987
03-07-1968
07-18-1959
06-21-1972
03-30-1966
05-27-1998
08-23-1996
10-03-1980
11-04-1998
03-13-1987
07-19-1985
06-29-2001
11-27-2019
12-02-2016
10-14-2016
06-24-2017
01-22-2016
06-07-2005
06-01-2012
09-13-2007
01-29-2013
03-04-2014
12-25-2012
12-25-1977
09-29-2011
09-26-2008
01-31-2007
10-08-2009
12-02-2015
02-16-1956
10-15-2014
08-03-2007
04-26-2007
11-18-1983
08-20-1982
11-26-1999
10-17-1968
07-13-2018
04-22-1962
08-06-2004
11-02-2011
08-28-2009
12-21-2006
01-07-1947
08-09-1996
04-01-2013
07-28-1978
10-22-2010
08-28-2015
06-07-2013
01-09-1965
10-12-2012
08-18-2000
12-14-1957
02-15-1978
01-08-1999
08-01-1997
11-15-2002
08-28-1975
08-01-1986
08-02-2002
09-16-1960
08-09-2019
08-29-1958
05-26-1970
04-01-2001
08-13-1993
04-27-1990
04-09-1976
07-27-1966
06-01-2018
10-25-1985
07-01-1960
05-08-2009
12-18-1961
11-04-1998
05-12-1999
09-17-1948
08-31-2001
06-14-2013
11-20-1987
07-31-2009
07-08-1988
11-03-2017
04-07-2006
10-22-2004
11-08-2002
08-28-1981
06-07-2019
07-01-2016
09-01-2000
12-31-1946
11-21-2013
06-18-2010
06-30-1971
09-24-1993
04-18-1997
10-06-1978
03-31-2016
02-19-1999
08-09-1996
04-09-2010
10-16-1998
12-06-2013
04-04-2003
09-19-2014
05-18-2017
11-14-2003
11-21-2003
05-12-2011
05-08-2015
09-06-2012
09-09-2011
12-09-2016
09-03-1997
07-29-2011
04-21-2000
01-27-2012
09-18-2007
12-13-2010
12-20-2008
06-03-2012
09-30-2005
10-10-2017
12-13-2008
04-12-2013
09-14-1951
03-13-2010
11-16-2001
10-10-2009
04-08-2011
09-25-2015
01-15-2013
08-31-1967
12-04-2014
01-15-2009
03-25-2011
10-16-2015
12-11-2015
04-29-1946
03-04-1950
02-15-1962
09-03-2010
03-19-1959
12-15-1974
06-25-1976
07-22-2005
05-13-1988
08-25-1939
10-17-1979
07-18-1997
10-26-2018
06-26-2015
07-19-1963
01-12-1956
03-01-1944
02-07-1974
.
09-18-1987
08-13-2004
12-17-2008
05-23-2008
04-11-1952
01-11-2013
08-24-2012
07-03-2013
08-20-2004
10-04-1996
10-30-1981
10-03-2008
07-09-1971
05-29-1963
09-13-2013
07-20-1991
01-27-1995
03-31-2016
09-19-2012
03-10-2005
10-03-2013
03-07-2003
09-18-2009
02-12-2009
01-24-2010
07-18-2013
06-06-2003
08-05-2014
12-12-2010
10-29-2015
09-02-2016
05-13-2011
10-16-1996
01-25-2007
12-18-2009
10-12-2018
11-14-2014
09-05-2007
07-01-1944
03-20-2015
09-24-1951
05-01-1998
07-31-2014
02-24-1989
10-15-2016
07-10-1987
02-23-1940
06-20-1941
10-09-1971
02-09-2007
07-17-2008
06-01-1945
04-22-2005
05-29-1947
12-12-2001
11-23-2007
10-03-2014
10-03-2010
02-27-2015
09-30-2011
09-06-1946
08-02-1967
12-17-1973
01-31-1973
09-11-2015
08-03-2018
03-16-1963
08-01-2012
03-31-2000
06-21-1962
08-30-1940
03-01-1948
09-25-1961
03-13-1987
11-27-1998
07-16-2010
02-26-2015
09-12-2003
11-10-2017
08-25-2017
07-30-2004
04-26-2013
09-19-2003
04-05-2004
11-12-2010
08-16-1938
08-05-2005
08-28-2015
09-18-2015
08-02-2002
06-15-2018
06-12-2008
10-20-2006
01-12-2004
06-23-2000
08-28-2015
01-22-2007
09-08-1999
11-02-2007
09-13-2011
11-28-2014
04-21-2005
09-24-2010
11-06-1985
10-04-2005
06-04-2008
02-09-2007
09-18-1998
09-12-2014
10-24-2008
04-10-1981
10-09-2015
03-20-2009
02-07-2013
12-03-2009
12-01-2006
08-15-2010
09-12-2008
10-15-2013
03-03-2012
09-09-2011
02-19-2016
12-10-2004
10-26-2012
07-19-1971
03-09-2011
01-02-2009
07-07-2007
01-05-1929
04-14-1948
07-18-2013
01-15-1997
02-19-2013
07-09-2013
10-10-1921
08-23-1961
10-16-1966
03-20-2015
09-01-2012
08-21-2015
10-16-2015
07-08-2016
10-02-2015
10-15-2010
04-21-2015
02-09-1976
08-29-2008
08-01-2003
04-24-2015
09-05-2011
01-15-2010
02-08-2013
07-26-2013
08-14-2015
08-27-2010
11-16-1976
11-16-1984
07-05-2012
01-29-1964
06-15-1973
12-01-1951
08-03-1968
03-01-2012
11-17-1993
01-29-2010
03-13-2007
02-03-2012
06-27-2013
10-22-2004
01-20-2011
02-08-2002
06-30-1972
08-29-2003
09-01-2014
12-03-1999
03-01-2015
08-28-1953
09-29-1938
04-09-1999
10-22-1949
06-01-1974
10-15-2010
09-07-2007
09-23-2005
06-18-1969
09-26-2014
08-05-1955
11-18-2016
06-01-2003
05-25-2007
09-08-1989
04-29-1988
10-19-1939
03-23-2018
09-01-1995
12-16-2005
12-28-1945
03-24-1995
07-26-2013
06-26-1998
03-02-1984
09-16-2016
04-08-2005
09-14-2001
10-01-2011
12-18-2007
02-25-1936
01-10-2014
07-25-2003
03-06-2015
12-07-2005
09-04-2014
07-20-2018
11-04-2005
04-17-2015
06-07-2011
10-02-2015
09-08-2015
02-04-1938
12-13-1968
06-17-2015
09-17-2004
11-10-2012
01-11-2014
06-26-1936
06-01-1998
10-11-1996
07-08-2009
03-15-1985
12-09-2005
03-25-2004
09-24-2006
08-22-2014
12-29-2004
04-12-1940
04-30-1981
01-01-1946
08-31-1984
12-04-2014
02-01-1953
05-18-2017
04-09-1942
10-29-2004
09-22-1989
12-22-2000
06-30-1951
10-03-1955
12-25-1951
04-19-2013
09-02-1992
01-26-1957
08-31-1975
04-05-1976
03-13-2012
10-29-1982
07-29-2009
10-20-1936
02-09-2012
09-07-2012
08-17-2012
05-27-1970
02-03-2015
10-27-2015
03-21-2014
10-07-2005
02-08-1980
12-25-2005
10-30-1986
02-22-2002
11-21-2014
06-28-2016
03-10-1972
05-13-2010
08-14-2013
12-11-2009
12-03-1976
01-06-2012
06-27-1963
07-01-2015
06-30-2006
05-25-2012
04-10-1981
10-19-1990
09-18-1987
09-16-2005
01-28-2011
06-17-1970
11-15-1956
07-20-2018
03-01-1950
11-16-2012
04-04-2008
09-11-2014
07-26-2013
08-04-2017
08-21-1998
08-29-2014
12-21-2011
09-16-2005
09-05-2008
11-30-2001
10-20-2000
08-04-2006
07-17-1996
09-19-2001
10-07-1998
03-30-2001
08-18-2017
04-26-2001
09-15-2014
09-08-2000
08-17-2011
08-01-2003
10-24-2014
06-20-1997
05-05-2000
09-19-2014
08-22-2003
04-01-2016
09-24-2004
01-31-2003
07-07-2006
05-04-2012
06-01-2012
05-22-2005
07-28-2017
08-07-1998
04-03-2015
09-18-2000
10-17-2014
11-16-2008
03-16-2005
04-21-2006
08-09-2013
12-11-2015
11-27-2015
05-24-2007
08-06-2010
02-05-2006
03-16-2012
08-06-2012
08-31-2016
10-08-2013
06-24-2014
10-02-2015
11-10-2015
04-08-2016
06-17-2016
10-27-2015
07-05-2016
11-16-2018
02-27-2018
06-01-2007
09-19-2006
09-20-2002
04-02-2010
01-27-2014
04-26-2014
06-22-1954
07-26-2013
04-01-2016
07-18-2018
02-08-2012
10-31-2006
04-27-2012
12-02-2014
08-21-1942
11-02-2012
08-28-2015
09-21-2008
12-29-2016
04-16-2010
08-02-1971
11-05-1993
09-27-2002
09-19-2014
10-28-2012
11-01-2015
08-11-1973
09-01-2006
04-27-2012
10-18-2012
07-31-2015
04-24-2012
05-09-2002
04-26-2005
07-30-2015
04-07-2009
07-30-1952
10-14-1994
06-24-2005
09-22-2006
11-29-2002
08-04-2017
05-29-2015
04-07-1933
04-25-1953
07-19-2014
11-21-2006
10-30-2009
09-01-2014
09-06-1935
07-30-1999
03-26-1970
11-04-1978
10-31-2000
07-20-2007
05-22-2015
03-04-2016
08-23-2002
02-02-2018
11-01-2015
07-07-1964
02-22-2013
09-17-2015
12-26-1931
05-09-1980
09-22-2012
09-26-2008
05-31-1974
11-01-1977
07-01-2005
07-21-2006
03-17-2000
01-30-2002
07-08-2011
05-18-2018
01-31-2003
03-29-2000
09-29-2004
07-25-2013
02-24-2018
06-10-2011
12-03-2010
09-28-2012
04-01-2011
04-22-1992
01-21-2007
10-21-2005
09-21-2014
05-11-2018
09-19-2012
06-27-2014
03-28-2012

03-17-2005
03-01-2015
03-10-2015
10-03-2015
02-04-2015
02-02-2016
04-10-2015
08-23-1991
04-23-2004
01-05-2018
06-01-1991
09-21-2006
03-05-1999
07-11-2014
03-11-1933
08-03-1990
02-04-2017
08-27-2004
05-25-1975
07-05-2006
09-02-2008
10-15-2010
07-27-2001
11-11-2005
12-12-2005
06-25-2015
02-24-1918
06-06-1929
03-06-1981
05-01-1987
08-05-2005
04-10-2009
10-20-2015
04-10-1957
10-27-1978
02-22-1934
03-03-2000
11-14-2003
03-10-2000
11-28-2003
06-20-1997
03-06-2009
09-11-1998
01-08-1969
12-02-2016
03-28-2014
08-27-2015
10-31-2014
11-28-1975
03-10-2015
08-02-2002
05-20-2010
03-14-2006
04-28-2012
09-26-2012
05-01-1981
04-18-1997
05-05-2003
01-27-2012
06-16-1995
08-04-2000
09-27-2002
08-23-1998
07-07-1960
01-10-2001
03-28-2008
08-02-2013
03-26-2008
08-15-2014
09-18-2014
02-28-2013
10-21-2008
07-31-2009
11-28-2010
01-23-2009
10-10-2012
11-02-2015
01-10-2017
06-06-2015
06-18-2011
08-04-2015
06-24-2016
10-09-2015
09-01-2000
02-28-1997
11-11-2008
02-11-2012
08-09-2001
09-19-2016
06-13-1953
07-25-1969
12-24-1916
04-11-1997
02-09-1933
03-10-2000
06-19-2015
05-11-2004
09-01-2014
10-10-2008
01-22-2008
04-15-2005
09-09-2005
10-03-2008
04-06-2012
03-14-2014
06-10-2007
11-04-2011
08-08-1986
10-12-2011
09-04-2015
06-01-1979
11-18-2011
12-01-2002
06-15-2007
08-23-2002
06-01-2015
03-09-2015
05-03-2013
12-20-1989
12-25-1942
07-18-2014
07-04-2015
03-03-2007
12-04-1964
10-04-1968
03-21-1915
08-15-2003
07-10-2015
09-29-2006
02-03-1978
03-20-1987
09-17-1920
10-30-1998
07-27-2017
05-27-2014
06-16-2014
11-09-2001
09-15-2012
05-25-2017
03-12-2015
08-29-2015
08-30-1972
09-29-2015
06-26-2014
04-05-2013
07-10-1998
06-11-2004
08-28-2015
12-01-1948
08-10-1962
06-06-2014
08-11-1995
05-18-2001
03-30-2012
12-13-2015
01-09-2007
10-07-2005
01-25-2014
09-20-2013
09-28-2001
01-20-2013
02-11-2011
04-22-2012
04-19-2013
05-29-2015
.
11-09-1994
01-27-2017
01-08-1973
08-01-1997
01-01-2015
08-14-2015
10-02-2015
02-14-2013
05-19-2017
07-25-2003
12-12-2008
10-15-2011
02-17-2015
04-28-2006
03-01-2012
04-10-1952
12-11-2001
06-11-2004
07-03-2013
07-28-2004
05-27-2005
04-23-2005
03-15-2019
01-09-2015
06-24-2005
06-23-2017
01-04-2019
02-17-2017
09-25-2015
02-05-2016
03-10-2017
09-30-2016
04-15-2011
01-25-2017
10-02-2015
04-17-2019
04-15-2013
04-17-2015
10-17-2008
12-10-2010
03-11-1998
03-18-2016
10-26-2007
06-23-2017
12-18-2015
07-22-2005
01-26-2007
08-11-2017
04-21-2017
03-27-2009
05-10-2019
11-06-2014
04-14-2006
12-28-2018
12-24-2008
12-21-2007
04-20-2018
10-06-1995
03-30-2007
10-26-2007
03-01-2019
10-07-2005
04-12-2019
04-06-2018
03-29-2013
02-26-2016
03-23-2012
04-10-2015
04-07-2017
08-21-2015
08-31-2011
01-13-1995
06-10-2016
09-15-2006
06-02-2017
02-17-2012
08-15-2014
03-07-2008
02-15-2008
01-30-2009
06-09-2017
04-02-1980
11-09-2007
03-03-1995
07-12-2019
09-17-2010
09-23-2016
08-03-2018
04-13-2012
04-15-2016
08-25-2017
02-23-2007
06-03-2016
03-20-2015
08-15-2018
04-29-2016
11-21-2008
09-21-2007
10-05-2007
11-23-2005
03-09-2018
10-05-2018
08-31-2011
08-17-2012
08-01-2008
02-22-2008
05-03-2013
06-16-2017
05-12-2017
08-29-2008
01-30-2015
08-11-2017
09-21-2018
04-28-2006
11-16-2018
09-25-2015
04-15-2011
11-12-2015
04-04-2007
06-25-2010
06-23-2006
11-23-2005
10-02-2014
01-02-2015
10-07-2005
08-30-2019
06-21-2013
08-02-2019
08-29-2007
08-04-2006
12-21-2018
04-20-2012
03-29-2019
08-04-2017
03-04-2016
10-15-2010
10-26-2007
08-26-2016
04-06-2018
05-25-2007
04-12-2013
11-22-2017
01-25-2013
05-22-2015
11-03-2017
09-16-2016
01-10-2014
09-18-2015
01-08-2016
04-24-2009
07-18-2014
06-05-2015
03-03-2006
12-09-2016
09-17-2010
01-06-2006
01-06-2006
01-25-2013
11-30-2007
04-25-2014
12-22-2017
04-29-1994
05-01-2015
04-23-2015
08-29-2018
05-10-2013
06-14-2013
01-31-2014
11-02-2007
01-08-2010
10-29-2010
09-01-2017
10-26-2018
05-06-2016
01-26-2018
06-26-2015
09-28-2007
08-23-2013
12-25-2005
09-04-2015
09-24-2010
04-17-1987
05-25-2012
09-14-2018
02-01-2013
02-23-2018
04-11-2014
02-07-2014
08-06-2010
10-09-2015
05-23-2014
01-22-2016
02-03-2006
08-22-2012
05-13-2005
06-10-2016
04-15-2016
10-16-2009
06-29-2018
07-22-2016
04-29-2005
07-01-2011
12-07-2007
02-23-2007
02-10-2017
05-30-2008
11-27-2013
01-25-2019
01-23-2015
01-27-2006
04-15-2011
07-01-2005
01-16-2015
06-03-2016
05-01-2009
08-31-2007
08-14-2018
04-01-2011
01-12-2007
06-18-2015
10-06-2017
04-30-2010
03-17-2017
09-15-2017
10-05-2012
07-25-2016
01-23-2009
12-09-2005
10-13-2006
03-18-2011
10-01-2010
01-15-2016
08-06-2010
04-21-2017
07-03-2019
02-24-2006
09-29-2017
04-13-2007
08-17-2001
01-11-2019
04-13-2018
10-17-2014
10-03-2014
03-13-2015
01-13-2012
07-17-2015
10-19-2018
07-22-2016
10-28-2005
06-04-2010
09-08-2006
08-24-2007
04-20-2007
07-31-2009
11-09-2018
08-07-2015
08-27-2010
11-10-2006
08-03-2007
03-26-2010
09-09-2009
02-23-2018
09-07-2012
05-07-2008
08-31-2018
02-17-2006
08-15-2014
01-20-2012
02-13-2009
06-03-2005
05-25-2018
12-23-2005
02-11-2011
12-21-2007
02-14-2019
10-06-2017
09-09-2011
01-16-2009
10-11-2013
08-17-2018
11-23-2006
04-12-2019
07-27-2007
12-21-2016
10-16-2009
03-28-2014
04-28-2017
04-28-1989
04-17-2009
05-13-2016
03-23-2007
12-05-2014
10-20-2017
03-17-2006
04-19-2019
07-27-2018
07-13-2007
08-08-2014
08-14-2015
02-06-2009
07-04-2008
07-28-2006
03-22-2019
01-05-2007
11-23-2005
04-23-2010
04-13-2007
07-10-2015
03-23-2007
10-02-2014
09-25-2015
07-29-2016
04-07-2017
11-23-2016
05-13-2016
02-20-2015
05-25-2018
01-09-2015
01-27-2017
06-27-1986
06-16-2017
04-24-2015
02-13-2015
04-25-2014
02-01-2013
03-05-2010
02-13-2019
08-03-2007
08-07-2015
06-24-2005
02-24-2012
11-27-2015
10-26-2018
03-02-2007
01-06-2006
03-10-2017
10-24-2008
01-16-2009
08-28-2013
04-07-2017
05-10-2019
08-05-2016
10-21-2005
07-03-2009
02-22-2008
01-20-2012
01-12-2007
08-21-2015
04-08-2016
02-16-2007
04-20-2018
12-18-2015
07-29-2005
01-13-2017
05-23-2013
01-23-2009
07-14-2017
05-30-2014
04-12-2019
09-04-2009
07-28-2006
02-09-2007
11-09-2007
09-14-2018
12-14-2007
04-29-2016
09-09-2016
02-13-2015
08-25-2017
04-27-2018
03-03-2017
12-12-2008
01-27-2012
09-26-2008
07-14-2000
05-17-2019
06-14-2019
08-09-2013
04-01-2016
02-26-2010
06-26-2015
02-19-2016
10-24-2014
03-09-2018
12-22-2017
10-21-2016
10-27-2017
03-03-2017
03-23-2007
09-25-2009
01-11-2019
05-05-2006
03-24-1995
07-10-2015
02-26-2015
10-14-2011
09-05-2014
07-22-2016
07-11-2014
08-12-2016
08-18-2017
08-24-2012
06-03-2016
11-05-2010
06-19-2015
06-30-2017
05-23-2014
01-30-2009
08-31-2011
12-02-2016
06-17-2011
04-19-2013
12-18-1981
04-20-2007
01-20-2017
01-30-2015
09-12-2014
04-12-1996
05-22-2015
04-18-1986
12-14-2012
08-18-2006
06-12-2015
05-11-2018
04-27-2007
10-01-2010
04-08-2016
04-24-2015
06-15-2007
04-18-2008
08-24-2018
11-03-2006
01-07-2011
03-30-2018
12-25-2016
10-19-2012
11-08-2018
08-26-2016
03-29-2019
03-23-2018
09-25-1999
05-04-2018
06-15-2018
09-02-2005
03-10-2006
06-23-2017
04-10-2015
05-19-2017
06-05-2019
09-06-2013
09-04-2015
03-18-2016
02-07-2014
08-23-2013
08-23-2013
08-08-2008
05-08-2015
07-29-2016
04-22-2016
11-27-2009
01-23-2015
01-09-2015
01-06-2006
12-04-2009
08-25-2017
06-22-2016
04-22-2011
06-09-2006
10-19-2007
05-26-2006
06-08-2012
04-17-2015
12-18-2015
04-19-2018
09-14-2007
06-02-2017
01-20-2017
02-27-2015
03-22-2013
06-12-2015
07-14-2017
06-15-2018
06-28-2019
05-18-2018
01-15-2016
02-23-2007
03-09-2012
05-27-2016
03-24-2017
05-12-2006
02-20-2015
03-30-2007
05-05-2017
05-10-2013
04-06-2007
04-13-2018
05-06-2005
10-02-2015
12-22-2006
09-01-2006
01-29-2010
03-31-2006
01-26-2007
05-14-2010
11-16-2007
08-26-2011
10-28-2016
09-28-2018
06-01-2007
05-11-2007
03-15-2019
12-11-2009
04-29-2011
11-30-2007
07-12-2013
05-26-2006
09-01-2017
07-05-2013
04-06-2018
07-21-2006
01-27-2006
07-24-2015
04-11-2018
05-17-2019
10-09-2015
03-23-2018
07-23-2010
03-20-2015
10-05-2007
06-10-2005
01-08-2010
11-03-2017
08-24-2007
06-19-2015
06-03-2005
02-04-2005
03-20-2009
05-13-2016
05-15-2015
09-19-2014
11-01-2008
12-07-2012
07-20-2018
02-14-2014
01-11-2008
02-23-2018
06-09-2017
09-09-2011
05-19-2005
07-29-2011
02-04-2011
12-12-2014
04-14-2006
04-08-2016
07-12-2019
04-20-2007
08-21-2019
10-26-2018
11-21-2018
11-23-2016
01-12-2018
04-11-2008
04-17-2009
07-13-2007
01-24-2014
04-11-2014
08-25-2017
04-01-2016
08-08-2013
03-09-2018
04-17-2015
05-09-2008
04-27-2007
03-09-2007
10-21-2016
01-27-2006
03-09-2012
04-13-2007
04-19-2019
03-16-2012
05-13-2005
02-08-2019
09-01-2006
03-10-2017
11-17-2017
05-18-2018
08-14-2015
10-06-2006

In [13]:
df_final_meta.query("release_date == '.'")

,movie_id,title,release_year,release_date,runtime,mpa_rating,mpa_rating_origin,imdb_score,votes,budget,...,price_class,writer,language,awards,poster,metascore,dvd,type,reviews_users,reviews_critics
4279,tt4170078,Ida Western Exile,2014,.,11 min,R,.,NaN,.,6000,...,.,Courtney Stephens (story),English,.,.,NaN,.,movie,.,.
4889,tt3123250,Paraphobia,2013,.,80 min,.,.,NaN,.,2700000,...,.,"Rick Montano, Rick Montano",English,.,.,NaN,.,movie,.,.

In [14]:
df_final_meta = df_final_meta.drop([4279,4889],0)
df_final_meta.index = range(len(df_final_meta))
# 개봉일이 결측된 두 관측치 모두 피처 총 개수의 1/3 이상이 결측 -> 삭제 처리

In [15]:
df_final_meta.query("release_date == '.'")

Empty DataFrame
Columns: [movie_id, title, release_year, release_date, runtime, mpa_rating, mpa_rating_origin, imdb_score, votes, budget, income_usa, income_int, income_ww, dvd_sales, blu_sales, total_sales, income_opening, legs, share, inf_income_usa, theater_opening, theater_total, series, genre, kwrds, src, prd_mthd, creative_type, prd_company, country, director, actor, description, contract_price, studio_score, price_class, writer, language, awards, poster, metascore, dvd, type, reviews_users, reviews_critics]
Index: []

[0 rows x 45 columns]

In [16]:
p = re.compile(r"^\d{2}-\d{2}-\d{4}$")
for x in df_final_meta["release_date"]:
    if len((re.findall(p,x)))==0: print(x)
# 형식 안맞는 애들 없음

# runtime 처리

In [17]:
p = re.compile("^\d+ min$")
for i in range(len(df_final_meta["runtime"])):
    if df_final_meta["runtime"][i] == "1 h 30 min":
         df_final_meta.loc[i,"runtime"] = 90
    elif len(re.findall(p,df_final_meta["runtime"][i]))==0 : 
        if df_final_meta["runtime"][i] != ".":
             df_final_meta.loc[i,"runtime"] = int(float(df_final_meta.loc[i,"runtime"]))
    else :
        df_final_meta.loc[i,"runtime"] = int(df_final_meta.loc[i,"runtime"][:-4])

In [18]:
df_nantime = df_final_meta[df_final_meta["runtime"]=="."]
# df_nantime.index = range(len(df_nantime))
df_nantime

,movie_id,title,release_year,release_date,runtime,mpa_rating,mpa_rating_origin,imdb_score,votes,budget,...,price_class,writer,language,awards,poster,metascore,dvd,type,reviews_users,reviews_critics
400,tt3089630,Artemis Fowl,2020,05-29-2020,.,PG,.,NaN,.,100000000,...,.,"Eoin Colfer (based on the novel by), Michael G...",English,.,https://m.media-amazon.com/images/M/MV5BMjI2Nz...,NaN,.,movie,.,.
2579,tt3492042,The Thousand Miles,2017,02-14-2003,.,G,.,NaN,.,20000000,...,.,"Federico Fellini (story), Demian Gregory",English,.,.,NaN,.,movie,.,.
3206,tt1809334,Return to the Bermuda Triangle,2010,10-24-2010,.,R,.,6.5,11,15000000,...,.,Bruce Burgess,English,.,.,NaN,.,movie,.,.
3257,tt6986684,La Naissance de la Tortue Rouge,2016,11-30-2016,.,R,.,NaN,.,14000000,...,.,.,French,.,.,NaN,.,movie,.,.
3389,tt10798734,On the Red Carpet: Brian Banks the Movie,2019,08-08-2019,.,.,.,NaN,.,12500000,...,.,.,English,.,.,NaN,.,movie,.,.
3430,tt5351480,Edmond,2006,07-19-2006,.,.,.,NaN,.,12000000,...,.,Charles H. Joslain,French,.,.,NaN,.,movie,.,.
3868,tt4094248,First Look at the New Oculus Rift Facebook App,2014,03-31-2014,.,R,.,NaN,.,9000000,...,.,Jack Allison,English,.,.,NaN,.,movie,.,.
3956,tt1200853,Stuck,2008,01-16-2008,.,.,.,6.5,24,8000000,...,.,"Robert Factor (story), Robert Factor",English,6 wins & 6 nominations.,https://m.media-amazon.com/images/M/MV5BMTg2OD...,NaN,14 Oct 2008,movie,.,.
3975,tt1717210,Should've Been Romeo,2012,04-28-2012,.,PG-13,.,6.4,43,8000000,...,.,"Paul Ben-Victor (screenplay), Paul Ben-Victor ...",English,.,https://m.media-amazon.com/images/M/MV5BMTU0NT...,NaN,.,movie,.,.
3976,tt2237914,Aztec Warrior,2016,09-22-2000,.,PG-13,.,6.6,21,8000000,...,.,"Diego O'Brien (screenplay), Javier Chapa (stor...",English,.,https://m.media-amazon.com/images/M/MV5BN2EwNG...,NaN,.,movie,.,.
4238,tt0309529,DAAS: Dead & Alive,1993,04-21-2000,.,R,.,9.2,28,6000000,...,.,"Tim Ferguson, Richard Fidler, Paul McDermott",English,.,https://m.media-amazon.com/images/M/MV5BM2I2OD...,NaN,.,movie,.,.
4243,tt2211646,Across the Divide,2012,06-03-2012,.,PG-13,.,NaN,.,6000000,...,.,Kris Dmytrenko,.,.,.,NaN,.,movie,.,.
4447,tt0452999,Bukas may umaga,2003,10-22-2004,.,R,.,NaN,.,5000000,...,.,.,"Filipino, Tagalog",.,.,NaN,.,movie,.,.
4467,tt0498879,Cabin Fever,2003,06-01-2003,.,R,.,3.0,13,5000000,...,.,.,English,.,.,NaN,.,series,.,.
4536,tt2479026,Life Below Zero,2012,02-09-2012,.,R,.,7.3,38,4500000,...,.,Josh Freed,English,.,.,NaN,.,movie,1,.
4773,tt3512332,Walking to Paris,2018,08-02-2002,.,R,.,NaN,.,3000000,...,.,Peter Greenaway,English,.,https://ia.media-imdb.com/images/M/MV5BYWI0MDB...,NaN,.,movie,.,.
4801,tt3520844,Give Me Shelter,2015,06-06-2015,.,PG-13,.,8.2,8,3000000,...,.,.,English,.,https://m.media-amazon.com/images/M/MV5BN2M1Mj...,NaN,.,series,.,.
4839,tt4798386,Dodge Law: Speak No Evil,2015,03-09-2015,.,R,.,NaN,.,3000000,...,.,Peter Farrelly,English,.,.,NaN,.,movie,.,.
4844,tt4607906,Romantic Schemer,2015,07-04-2015,.,PG-13,.,5.1,172,3000000,...,.,Valentine,English,.,https://m.media-amazon.com/images/M/MV5BMzg0OD...,NaN,.,movie,.,.
4878,tt0933842,Really Big Things,2007,01-09-2007,.,R,.,6.8,57,2800000,...,.,.,English,.,.,NaN,.,series,.,.
4898,tt4515364,Sócrates,2019,12-12-2008,.,R,.,NaN,.,2600000,...,.,"Plato (from the novel by), Alejandro de la Llosa",Spanish,.,.,NaN,.,movie,.,.

In [19]:
import math
for i in df_nantime.index:
    count = 0
    for c in df_nantime.columns: 
        if df_nantime[c][i]=="." :
            count+=1
        try : 
            if math.isnan(df_nantime[c][i]) : 
                count+=1
        except : pass
    print(i, count)

400 15
2579 18
3206 12
3257 21
3389 22
3430 21
3868 20
3956 14
3975 17
3976 15
4238 16
4243 21
4447 20
4467 19
4536 21
4773 20
4801 17
4839 20
4844 15
4878 18
4898 20

In [20]:
df_nantime = df_nantime.drop([3206,3956],0)
df_final_meta = df_final_meta.drop(set(df_nantime.index))
df_final_meta.index = range(len(df_final_meta))
# runtime이 결측된 애들 중 컬럼수의 1/3 이상이 결측된 관측치 drop

In [21]:
df_final_meta[df_final_meta["runtime"]=="."]

,movie_id,title,release_year,release_date,runtime,mpa_rating,mpa_rating_origin,imdb_score,votes,budget,...,price_class,writer,language,awards,poster,metascore,dvd,type,reviews_users,reviews_critics
3204,tt1809334,Return to the Bermuda Triangle,2010,10-24-2010,.,R,.,6.5,11,15000000,...,.,Bruce Burgess,English,.,.,NaN,.,movie,.,.
3950,tt1200853,Stuck,2008,01-16-2008,.,.,.,6.5,24,8000000,...,.,"Robert Factor (story), Robert Factor",English,6 wins & 6 nominations.,https://m.media-amazon.com/images/M/MV5BMTg2OD...,NaN,14 Oct 2008,movie,.,.

In [22]:
df_final_meta.loc[3204, "runtime"] = 45
df_final_meta.loc[3950, "runtime"] = 85

In [23]:
df_final_meta[df_final_meta["runtime"]=="."]

/home/pirl/anaconda3/lib/python3.7/site-packages/pandas/core/ops/__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

Empty DataFrame
Columns: [movie_id, title, release_year, release_date, runtime, mpa_rating, mpa_rating_origin, imdb_score, votes, budget, income_usa, income_int, income_ww, dvd_sales, blu_sales, total_sales, income_opening, legs, share, inf_income_usa, theater_opening, theater_total, series, genre, kwrds, src, prd_mthd, creative_type, prd_company, country, director, actor, description, contract_price, studio_score, price_class, writer, language, awards, poster, metascore, dvd, type, reviews_users, reviews_critics]
Index: []

[0 rows x 45 columns]

# mpa_rating 처리
#### 기준 : data dictionary
PG와 passed 합칠까 말까

In [24]:
df_final_meta = df_final_meta.drop("mpa_rating_origin", axis = 1, inplace= False)
len(df_final_meta.columns)
# mpa_rating_origin 열 삭제 처리

44

In [25]:
df_final_meta["mpa_rating"] = [x.upper() for x in df_final_meta["mpa_rating"]]
df_final_meta["mpa_rating"].value_counts()

R            2395
PG-13        1676
PG            803
NOT RATED     273
G             142
APPROVED       28
PASSED         24
NOT            23
UNRATED        21
.              16
TV-MA          12
TV-14          12
TV-PG          11
NC-17           5
TV-G            4
X               4
GP              3
M               2
M/PG            2
TV-Y7           1
Name: mpa_rating, dtype: int64

In [26]:
df_final_meta["mpa_rating"] = df_final_meta["mpa_rating"].apply(lambda x : "NOT RATED" if x =="NOT" else x)
df_final_meta["mpa_rating"] = df_final_meta["mpa_rating"].apply(lambda x : "NC-17" if x =="UNRATED" else x)
df_final_meta["mpa_rating"] = df_final_meta["mpa_rating"].apply(lambda x : "NC-17" if x =="X" else x)
df_final_meta["mpa_rating"] = df_final_meta["mpa_rating"].apply(lambda x : "PG" if x =="GP" else x)
df_final_meta["mpa_rating"] = df_final_meta["mpa_rating"].apply(lambda x : "PG" if x =="M" else x)
df_final_meta["mpa_rating"] = df_final_meta["mpa_rating"].apply(lambda x : "PG" if x =="M/PG" else x)

In [27]:
df_final_meta["mpa_rating"].value_counts()

R            2395
PG-13        1676
PG            810
NOT RATED     296
G             142
NC-17          30
APPROVED       28
PASSED         24
.              16
TV-MA          12
TV-14          12
TV-PG          11
TV-G            4
TV-Y7           1
Name: mpa_rating, dtype: int64

In [28]:
df_nanmpa = df_final_meta.query("mpa_rating == '.'")
df_nanmpa

,movie_id,title,release_year,release_date,runtime,mpa_rating,imdb_score,votes,budget,income_usa,...,price_class,writer,language,awards,poster,metascore,dvd,type,reviews_users,reviews_critics
2995,tt0325136,By Any Means Necessary: The Making of 'Jason X',2002,11-02-1984,17,.,4.8,95,16000000,34609720,...,.,.,English,.,.,NaN,.,movie,4,.
3678,tt0102538,Nikita: The Elements of War,1991,03-15-1991,99,.,NaN,.,10000000,15198912,...,.,"Aleksei Adzhubei, Boris Karadzhev",.,.,.,NaN,.,movie,.,.
3828,tt1754108,Les Choristes: Le making of,2004,10-27-2004,72,.,8.3,393,9300000,19571091,...,.,.,French,.,https://m.media-amazon.com/images/M/MV5BZjU2Nm...,NaN,.,movie,.,.
3950,tt1200853,Stuck,2008,01-16-2008,85,.,6.5,24,8000000,20036244,...,.,"Robert Factor (story), Robert Factor",English,6 wins & 6 nominations.,https://m.media-amazon.com/images/M/MV5BMTg2OD...,NaN,14 Oct 2008,movie,.,.
4002,tt1578715,Televising a Revolution of Spoken Word from De...,2010,02-14-2010,73,.,NaN,.,8000000,0,...,.,"Dina Maria Bey, Leslie Martin Brown, André Lam...",English,1 win.,https://m.media-amazon.com/images/M/MV5BNjEyMz...,NaN,.,movie,.,.
4050,tt1108828,The Bug,2007,09-29-2007,15,.,6.9,21,7250000,0,...,.,"Jonas Klinkenbijl, Martijn Smits",Dutch,.,.,NaN,.,movie,.,.
4179,tt6000398,Pokémon 3: The Movie,2001,04-01-2001,73,.,NaN,.,6400000,"$16,373,155",...,.,.,french,.,https://m.media-amazon.com/images/M/MV5BMTUxNT...,NaN,21 Aug 2001,movie,.,.
4264,tt4080386,Sardaar Ji,2015,06-26-2015,141,.,6.4,"1,214",6000000,"$554,565",...,.,"Surmeet Maavi (additional dialogue), Dheeraj R...",Punjabi,.,https://m.media-amazon.com/images/M/MV5BYjVlMD...,NaN,.,movie,8,1
4271,tt2243223,Cómo se hizo: Los cronocrímenes,2008,12-17-2008,45,.,NaN,.,5952000,2120439,...,.,.,Spanish,.,.,NaN,.,movie,.,.
4492,tt0400202,Bag om filmen 'Festen',1998,06-01-1998,28,.,NaN,.,4700000,1705139,...,.,Michael Sandager,Danish,.,.,NaN,.,movie,.,.
4534,tt0304692,Sex with Strangers,2002,02-22-2002,105,.,4.4,343,4500,0,...,.,.,English,.,https://m.media-amazon.com/images/M/MV5BMTYxOT...,44.0,09 Dec 2003,movie,.,.
4651,tt0453540,Rise of the Undead,2005,04-26-2005,89,.,2.3,223,3851,0,...,.,"J. Horton, Shannon Hubbell",English,.,https://ia.media-imdb.com/images/M/MV5BMjA1MjA...,NaN,26 Apr 2005,movie,22,9
4721,tt1117514,Building 'Brick',2006,09-21-2006,46,.,6.8,15,3400000,0,...,.,Lauren Jean Schwartz,English,.,.,NaN,.,movie,.,.
4846,tt4884912,Lunch Time Heroes,2015,08-29-2015,88,.,5.9,15,3000,0,...,.,"Moses Babatope, Diche Enunwa, Kene Okwuosa",English,.,https://m.media-amazon.com/images/M/MV5BZjZlZm...,NaN,.,movie,.,.
4891,tt7837402,Red 11,2019,03-15-2019,77,.,5.9,81,2500000,14400000,...,.,"Racer Rodriguez, Robert Rodriguez",English,1 nomination.,https://m.media-amazon.com/images/M/MV5BMTY2Nj...,NaN,.,movie,.,.
5291,tt4679210,Premam,2015,06-12-2015,156,.,8.3,"14,666",1000000,"$825,602",...,.,Alphonse Puthren,Malayalam,16 wins & 4 nominations.,https://m.media-amazon.com/images/M/MV5BMzJhNj...,NaN,.,movie,64,53

In [29]:
for i in df_nanmpa.index:
    count = 0
    for c in df_nanmpa.columns: 
        if df_nanmpa[c][i]=="." :
            count+=1
        try : 
            if math.isnan(df_nanmpa[c][i]) : 
                count+=1
        except : pass
    print(i, count)

2995 16
3678 22
3828 17
3950 12
4002 25
4050 20
4179 24
4264 15
4271 20
4492 24
4534 22
4651 19
4721 22
4846 22
4891 14
5291 16

In [30]:
df_nanmpa = df_nanmpa.drop([3950,4891],0)
df_final_meta = df_final_meta.drop(set(df_nanmpa.index))
df_final_meta.index = range(len(df_final_meta))
# runtime이 결측된 애들 중 컬럼수의 1/3 이상이 결측된 관측치 drop

In [31]:
df_final_meta.query("mpa_rating == '.'")

,movie_id,title,release_year,release_date,runtime,mpa_rating,imdb_score,votes,budget,income_usa,...,price_class,writer,language,awards,poster,metascore,dvd,type,reviews_users,reviews_critics
3947,tt1200853,Stuck,2008,01-16-2008,85,.,6.5,24,8000000,20036244,...,.,"Robert Factor (story), Robert Factor",English,6 wins & 6 nominations.,https://m.media-amazon.com/images/M/MV5BMTg2OD...,NaN,14 Oct 2008,movie,.,.
4878,tt7837402,Red 11,2019,03-15-2019,77,.,5.9,81,2500000,14400000,...,.,"Racer Rodriguez, Robert Rodriguez",English,1 nomination.,https://m.media-amazon.com/images/M/MV5BMTY2Nj...,NaN,.,movie,.,.

In [32]:
df_final_meta.loc[3947, "mpa_rating"] = "R" # 서치완료
# df_final_meta.loc[4878, "mpa_rating"] = "." -> 서치 불가

In [33]:
df_final_meta.query("mpa_rating == '.'")

,movie_id,title,release_year,release_date,runtime,mpa_rating,imdb_score,votes,budget,income_usa,...,price_class,writer,language,awards,poster,metascore,dvd,type,reviews_users,reviews_critics
4878,tt7837402,Red 11,2019,03-15-2019,77,.,5.9,81,2500000,14400000,...,.,"Racer Rodriguez, Robert Rodriguez",English,1 nomination.,https://m.media-amazon.com/images/M/MV5BMTY2Nj...,NaN,.,movie,.,.

# imdb_score

In [34]:
 df_final_meta[df_final_meta["imdb_score"].isna()]

,movie_id,title,release_year,release_date,runtime,mpa_rating,imdb_score,votes,budget,income_usa,...,price_class,writer,language,awards,poster,metascore,dvd,type,reviews_users,reviews_critics
18,tt2382320,No Time to Die,2020,04-10-2020,144,NC-17,NaN,.,250000000,255119788,...,.,"Neal Purvis, Robert Wade, Cary Joji Fukunaga, ...",English,.,https://m.media-amazon.com/images/M/MV5BZWI1Zm...,NaN,.,movie,.,.
29,tt6723592,Tenet,2020,07-17-2020,144,PG,NaN,.,225000000,141621490,...,.,Christopher Nolan,English,.,https://m.media-amazon.com/images/M/MV5BNmMwYz...,NaN,.,movie,1,.
198,tt6304710,Moonfall,2006,01-01-2006,50,PG,NaN,.,150000000,114053579,...,.,John Prescott,English,.,https://m.media-amazon.com/images/M/MV5BMGJjOG...,NaN,.,movie,.,.
221,tt1745960,Top Gun: Maverick,2020,06-26-2020,86,PG-13,NaN,.,140000000,190418803,...,.,"Jim Cash (characters), Peter Craig, Jack Epps ...",English,.,https://m.media-amazon.com/images/M/MV5BNTEyYT...,NaN,.,movie,.,.
284,tt7504726,The Call of the Wild,2020,02-21-2020,105,PG,NaN,.,125000000,186848418,...,.,"Michael Green (screenplay by), Jack London (ba...",English,.,https://m.media-amazon.com/images/M/MV5BNzUwMT...,NaN,.,movie,67,81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4759,tt0401610,MTV Revue with Ice Cube,1998,08-23-1998,30,R,NaN,.,3000000,11052713,...,.,.,English,.,.,NaN,.,movie,.,.
4777,tt4477966,The Love Letter,2015,06-24-2016,90,R,NaN,.,3000000,4210454,...,.,Jene von Dacre,English,.,.,NaN,.,movie,.,.
4779,tt4625502,4,2015,09-01-2000,94,R,NaN,.,3000000,4142507,...,.,.,French,.,.,NaN,.,movie,.,.
4781,tt1383609,Under the Little Big Top: Behind the Scenes Do...,2008,11-11-2008,86,R,NaN,.,3000000,4067398,...,.,.,English,.,.,NaN,.,movie,.,.
4869,tt1230136,Grip: A Criminal's Story,2006,04-28-2006,119,NOT RATED,NaN,.,2600,0,...,.,Gorio,English,.,.,NaN,03 Apr 2007,movie,.,.

In [35]:
df_nanscore = df_final_meta[df_final_meta["imdb_score"].isna()]
df_nanscore = df_nanscore[df_final_meta["release_year"]  != "2020"]
df_nanscore = df_nanscore[df_final_meta["release_year"]  != "2021"]
df_nanscore

/home/pirl/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/home/pirl/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

,movie_id,title,release_year,release_date,runtime,mpa_rating,imdb_score,votes,budget,income_usa,...,price_class,writer,language,awards,poster,metascore,dvd,type,reviews_users,reviews_critics
198,tt6304710,Moonfall,2006,01-01-2006,50,PG,NaN,.,150000000,114053579,...,.,John Prescott,English,.,https://m.media-amazon.com/images/M/MV5BMGJjOG...,NaN,.,movie,.,.
517,tt1804538,Father's Day,1997,03-21-2014,27,PG-13,NaN,.,85000000,150947895,...,.,Mika Ronkainen,Finnish,1 win.,https://ia.media-imdb.com/images/M/MV5BYmJiMjY...,NaN,09 Sep 1997,movie,.,.
737,tt1781967,Agora é que Conta,2010,09-21-2010,146,PG-13,NaN,.,70000000,79883359,...,.,.,Portuguese,.,.,NaN,.,series,.,.
804,tt10597946,Underwater,2019,03-29-2019,8,G,NaN,.,65000000,139225854,...,.,Bradley Diaz,English,.,https://m.media-amazon.com/images/M/MV5BZTYyMW...,NaN,.,movie,.,.
955,tt5280288,"The Path to Vengeance: Making 'Ghost Rider, Sp...",2012,06-12-2012,90,PG-13,NaN,.,60000000,30695227,...,.,.,English,.,.,NaN,.,movie,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4759,tt0401610,MTV Revue with Ice Cube,1998,08-23-1998,30,R,NaN,.,3000000,11052713,...,.,.,English,.,.,NaN,.,movie,.,.
4777,tt4477966,The Love Letter,2015,06-24-2016,90,R,NaN,.,3000000,4210454,...,.,Jene von Dacre,English,.,.,NaN,.,movie,.,.
4779,tt4625502,4,2015,09-01-2000,94,R,NaN,.,3000000,4142507,...,.,.,French,.,.,NaN,.,movie,.,.
4781,tt1383609,Under the Little Big Top: Behind the Scenes Do...,2008,11-11-2008,86,R,NaN,.,3000000,4067398,...,.,.,English,.,.,NaN,.,movie,.,.
4869,tt1230136,Grip: A Criminal's Story,2006,04-28-2006,119,NOT RATED,NaN,.,2600,0,...,.,Gorio,English,.,.,NaN,03 Apr 2007,movie,.,.

In [36]:
for i in df_nanscore.index:
    count = 0
    for c in df_nanscore.columns: 
        if df_nanscore[c][i]=="." :
            count+=1
        try : 
            if math.isnan(df_nanscore[c][i]) : 
                count+=1
        except : pass
    print(i, count)

198 13
517 8
737 14
804 14
955 17
1022 17
1481 21
1534 11
1894 17
2031 17
2062 11
2221 14
2279 25
2289 12
2339 15
2448 12
2704 20
2730 16
2803 25
2812 25
2813 13
2977 18
3021 16
3054 18
3187 16
3400 16
3479 18
3509 25
3577 18
3597 13
3686 19
3695 17
3706 13
3803 22
3878 21
3950 18
3967 14
3977 14
4054 11
4075 12
4079 17
4126 24
4127 21
4131 17
4149 17
4154 16
4200 13
4226 16
4230 12
4240 22
4242 16
4325 11
4328 9
4360 15
4393 13
4410 18
4411 13
4432 18
4463 23
4491 17
4574 26
4600 18
4611 16
4621 15
4639 24
4666 12
4672 26
4687 14
4714 14
4722 28
4754 19
4759 19
4777 12
4779 21
4781 15
4869 24

# awards 파생변수들

In [37]:
df_final_meta[df_final_meta["awards"].isna()]

Empty DataFrame
Columns: [movie_id, title, release_year, release_date, runtime, mpa_rating, imdb_score, votes, budget, income_usa, income_int, income_ww, dvd_sales, blu_sales, total_sales, income_opening, legs, share, inf_income_usa, theater_opening, theater_total, series, genre, kwrds, src, prd_mthd, creative_type, prd_company, country, director, actor, description, contract_price, studio_score, price_class, writer, language, awards, poster, metascore, dvd, type, reviews_users, reviews_critics]
Index: []

[0 rows x 44 columns]

In [38]:
import re
import math

# print(math.isnan(df_meta["awards"][12]))
count =0
big_awards = []
small_win = []
small_nom = []

for x in df_final_meta["awards"]:
    
    if x ==".":
        big_awards.append(0)
        small_win.append(0); small_nom.append(0)
        count+=1

    elif re.findall(re.compile(r"^\d+ win[s]?.$"),x):
        big_awards.append(0); small_nom.append(0)
        small_win.append(re.split(re.compile(r"[\s]"),x)[0])
        count+=1
    elif re.findall(re.compile(r"^\d+ nomination[s]?.$"),x):
        big_awards.append(0); small_win.append(0)
        small_nom.append(int(re.split(re.compile(r"[\s]"),x)[0]))
        count+=1
    elif re.findall(re.compile(r"^\d+ win[s]? & \d+ nomination[s]?.$"),x):
        L = re.split(re.compile(r"[\s]"),x)
        big_awards.append(0)
        small_win.append(int(L[0])); small_nom.append(int(L[3])+int(L[0]))
        count+=1

    elif re.findall(re.compile(r"^(Won|Nominated for) \d+ [a-zA-Z0-9\s]+. Another \d+ win[s]? & \d+ nomination[s]?.$"), x):
        L = re.split(re.compile(r"[\s]"),x)
        big_awards.append(1)
        small_win.append(int(L[-5])); small_nom.append(int(L[-2])+int(L[-5]))
        count+=1
    elif re.findall(re.compile(r"^(Won|Nominated for) \d+ [a-zA-Z0-9\s]+. Another \d+ win[s]?.$"),x):
        L = re.split(re.compile(r"[\s]"),x)
        big_awards.append(1)
        small_win.append(int(L[-2])); small_nom.append(int(L[-2]))
        count+=1
    elif re.findall(re.compile(r"^(Won|Nominated for) \d+ [a-zA-Z0-9\s]+. Another \d+ nomination[s]?.$"),x):
        L = re.split(re.compile(r"[\s]"),x)
        big_awards.append(1)
        small_win.append(0); small_nom.append(int(L[-2]))
        count+=1

    elif re.findall(re.compile(r"^(Won|Nominated for) \d+ [a-zA-Z0-9\s]+.$"),x):
        L = re.split(re.compile(r"[\s]"),x)
        big_awards.append(1)
        small_win.append(0); small_nom.append(0)
        count+=1
print(count)

5443

In [39]:
df_final_meta["big_awards"] = big_awards
df_final_meta["awards_win"] = small_win
df_final_meta["awards_nomin"] = small_nom

In [40]:
df_final_meta[["awards", "big_awards","awards_win","awards_nomin"]]

,awards,big_awards,awards_win,awards_nomin
0,Nominated for 1 Oscar. Another 46 wins & 97 no...,1,46,143
1,3 wins & 31 nominations.,0,3,34
2,8 wins & 47 nominations.,0,8,55
3,Nominated for 1 Oscar. Another 44 wins & 70 no...,1,44,114
4,Nominated for 2 Oscars. Another 20 wins & 44 n...,1,20,64
...,...,...,...,...
5438,9 wins & 22 nominations.,0,9,31
5439,Nominated for 1 Oscar. Another 4 wins & 26 nom...,1,4,30
5440,.,0,0,0
5441,1 win & 1 nomination.,0,1,2
5442,1 win & 5 nominations.,0,1,6

# 결측치 15개 이상 관측치 삭제

In [41]:
nancount = []
for i in df_final_meta.index:
    count = 0
    for c in df_final_meta.columns:
        if df_final_meta[c][i]=="." :
            count+=1
        try :
            if math.isnan(df_final_meta[c][i]) :
                count+=1
        except : pass
    if count>=15 : nancount.append(i)
print(len(nancount))

522

In [42]:
for i in nancount:
    df_final_meta = df_final_meta.drop(i,0)
print(len(df_final_meta))

4921

In [43]:
year_nan = []
for i in df_final_meta.index:
    if df_final_meta["release_year"][i] in ["2019","2020", "2021"]:
        year_nan.append(i)
print(len(year_nan))

125

In [44]:
for i in year_nan:
    df_final_meta = df_final_meta.drop(i,0)
print(len(df_final_meta))

4796

In [45]:
df_final_meta.index = range(len(df_final_meta))

In [46]:
df_final_meta

,movie_id,title,release_year,release_date,runtime,mpa_rating,imdb_score,votes,budget,income_usa,...,awards,poster,metascore,dvd,type,reviews_users,reviews_critics,big_awards,awards_win,awards_nomin
0,tt1298650,Pirates of the Caribbean: On Stranger Tides,2011,05-20-2011,136,PG-13,6.6,"460,865",379000000,"$241,063,875",...,3 wins & 31 nominations.,https://m.media-amazon.com/images/M/MV5BMjE5Mj...,45.0,18 Oct 2011,movie,524,465,0,3,34
1,tt2395427,Avengers: Age of Ultron,2015,05-01-2015,141,PG-13,7.3,"697,604",365000000,"$429,113,729",...,8 wins & 47 nominations.,https://m.media-amazon.com/images/M/MV5BMTM4OG...,66.0,02 Oct 2015,movie,1276,688,0,8,55
2,tt4154756,Avengers: Infinity War,2018,04-27-2018,149,PG-13,8.5,"741,841",306000000,"$664,987,816",...,Nominated for 1 Oscar. Another 44 wins & 70 no...,https://m.media-amazon.com/images/M/MV5BMjMxNj...,68.0,14 Aug 2018,movie,4158,601,1,44,114
3,tt0449088,Pirates of the Caribbean: At World's End,2007,05-25-2007,169,PG-13,7.1,"572,118",300000000,"$309,404,152",...,Nominated for 2 Oscars. Another 20 wins & 44 n...,https://m.media-amazon.com/images/M/MV5BMjIyNj...,50.0,04 Dec 2007,movie,1275,326,1,20,64
4,tt0974015,Justice League,2017,11-17-2017,120,PG-13,6.4,"352,866",300000000,"$227,032,490",...,2 wins & 13 nominations.,https://m.media-amazon.com/images/M/MV5BYWVhZj...,45.0,13 Mar 2018,movie,1951,492,0,2,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4791,tt4714782,Personal Shopper,2016,03-10-2017,105,R,6.1,"33,522",750000,"$1,305,195",...,9 wins & 22 nominations.,https://m.media-amazon.com/images/M/MV5BN2JhYT...,77.0,.,movie,213,330,0,9,31
4792,tt2543472,Wonder,2017,11-17-2017,113,PG,8.0,"123,097",750000,"$132,090,170",...,Nominated for 1 Oscar. Another 4 wins & 26 nom...,https://m.media-amazon.com/images/M/MV5BYjFhOW...,66.0,13 Feb 2018,movie,410,230,1,4,30
4793,tt1667321,On Chesil Beach,2017,05-18-2018,110,R,6.3,"7,773",750000,78396,...,.,https://m.media-amazon.com/images/M/MV5BMzQ1Mj...,62.0,07 Aug 2018,movie,84,134,0,0,0
4794,tt2215395,Paulette,2012,08-14-2015,87,R,6.6,"6,513",750000,"$9,548",...,1 win & 1 nomination.,https://m.media-amazon.com/images/M/MV5BMzU0MT...,40.0,.,movie,.,.,0,1,2
4795,tt0444653,Keeping Mum,2005,10-06-2006,99,R,6.8,"32,090",750000,"$1,467,021",...,1 win & 5 nominations.,https://m.media-amazon.com/images/M/MV5BNTA4OT...,53.0,20 Feb 2007,movie,136,186,0,1,6

# votes

In [47]:
df_final_meta.query('votes=="0"')

Empty DataFrame
Columns: [movie_id, title, release_year, release_date, runtime, mpa_rating, imdb_score, votes, budget, income_usa, income_int, income_ww, dvd_sales, blu_sales, total_sales, income_opening, legs, share, inf_income_usa, theater_opening, theater_total, series, genre, kwrds, src, prd_mthd, creative_type, prd_company, country, director, actor, description, contract_price, studio_score, price_class, writer, language, awards, poster, metascore, dvd, type, reviews_users, reviews_critics, big_awards, awards_win, awards_nomin]
Index: []

[0 rows x 47 columns]

In [48]:
df_final_meta["votes"].value_counts()

.          25
5           6
6           4
20          3
7,286       3
           ..
90          1
240,138     1
81,993      1
20,030      1
221,624     1
Name: votes, Length: 4662, dtype: int64

In [49]:
df_final_meta["votes"] = df_final_meta["votes"].apply(lambda x : "0" if x =="." else x)

In [50]:
df_final_meta["votes"] = list(map(int, [x.replace(",","") for x in df_final_meta["votes"]]))

In [51]:
df_final_meta["votes"].value_counts()

0         25
5          6
6          4
1999       3
19         3
          ..
193752     1
1238       1
177364     1
50386      1
36656      1
Name: votes, Length: 4662, dtype: int64

# budget

In [52]:
for i in range(len(df_final_meta["budget"])):
    x = df_final_meta["budget"][i]
    if (len(x)<6) or (len(x)==6 and int(x[:2])<75):
        print(x)
        df_final_meta.loc[i, "budget"] = x+"000"

250000
140000
25000
18000
18000
12000
8000
7000
5000
5000
4500
4400
3500
2500
2300
2100
2000
1950
1800
1300

In [53]:
df_final_meta["budget"] = list(map(int, df_final_meta["budget"]))

In [54]:
df_final_meta["budget"]

0       379000000
1       365000000
2       306000000
3       300000000
4       300000000
          ...
4791       750000
4792       750000
4793       750000
4794       750000
4795       750000
Name: budget, Length: 4796, dtype: int64

# income_usa, income_ww, income_int

## 세 피쳐 모두 int화

In [55]:
df_final_meta["income_usa"] = [x.replace("$","") for x in df_final_meta["income_usa"]]
df_final_meta["income_usa"] = [x.replace(".","") for x in df_final_meta["income_usa"]]
df_final_meta["income_usa"] = list(map(int, [x.replace(",","") for x in df_final_meta["income_usa"]]))

In [56]:
df_final_meta["income_usa"]

0       241063875
1       429113729
2       664987816
3       309404152
4       227032490
          ...
4791      1305195
4792    132090170
4793        78396
4794         9548
4795      1467021
Name: income_usa, Length: 4796, dtype: int64

In [57]:
df_final_meta["income_ww"] = list(map(int, [x.replace(".","-1") for x in df_final_meta["income_ww"]]))
df_final_meta["income_int"] = list(map(int, [x.replace(".","-1") for x in df_final_meta["income_int"]]))

## income_usa, ww, int 중에서 두개 이상 결측인 애들 찾기
    -> 계산 못하는 애들

In [58]:
df_income = df_final_meta[["income_usa","income_ww", "income_int"]]
df_income

      income_usa   income_ww  income_int
0      241063875  1045663875   804600000
1      429113729  1403013963   944008095
2      664987816  2068223624  1131561399
3      309404152  2048359754  1369544272
4      227032490   963420425   654000000
...          ...         ...         ...
4791     1305195     4422318      411361
4792   132090170      940936       48134
4793       78396     1011535      933139
4794        9548       89609       29953
4795     1467021          -1          -1

[4796 rows x 3 columns]

In [59]:
df_final_meta

,movie_id,title,release_year,release_date,runtime,mpa_rating,imdb_score,votes,budget,income_usa,...,awards,poster,metascore,dvd,type,reviews_users,reviews_critics,big_awards,awards_win,awards_nomin
0,tt1298650,Pirates of the Caribbean: On Stranger Tides,2011,05-20-2011,136,PG-13,6.6,460865,379000000,241063875,...,3 wins & 31 nominations.,https://m.media-amazon.com/images/M/MV5BMjE5Mj...,45.0,18 Oct 2011,movie,524,465,0,3,34
1,tt2395427,Avengers: Age of Ultron,2015,05-01-2015,141,PG-13,7.3,697604,365000000,429113729,...,8 wins & 47 nominations.,https://m.media-amazon.com/images/M/MV5BMTM4OG...,66.0,02 Oct 2015,movie,1276,688,0,8,55
2,tt4154756,Avengers: Infinity War,2018,04-27-2018,149,PG-13,8.5,741841,306000000,664987816,...,Nominated for 1 Oscar. Another 44 wins & 70 no...,https://m.media-amazon.com/images/M/MV5BMjMxNj...,68.0,14 Aug 2018,movie,4158,601,1,44,114
3,tt0449088,Pirates of the Caribbean: At World's End,2007,05-25-2007,169,PG-13,7.1,572118,300000000,309404152,...,Nominated for 2 Oscars. Another 20 wins & 44 n...,https://m.media-amazon.com/images/M/MV5BMjIyNj...,50.0,04 Dec 2007,movie,1275,326,1,20,64
4,tt0974015,Justice League,2017,11-17-2017,120,PG-13,6.4,352866,300000000,227032490,...,2 wins & 13 nominations.,https://m.media-amazon.com/images/M/MV5BYWVhZj...,45.0,13 Mar 2018,movie,1951,492,0,2,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4791,tt4714782,Personal Shopper,2016,03-10-2017,105,R,6.1,33522,750000,1305195,...,9 wins & 22 nominations.,https://m.media-amazon.com/images/M/MV5BN2JhYT...,77.0,.,movie,213,330,0,9,31
4792,tt2543472,Wonder,2017,11-17-2017,113,PG,8.0,123097,750000,132090170,...,Nominated for 1 Oscar. Another 4 wins & 26 nom...,https://m.media-amazon.com/images/M/MV5BYjFhOW...,66.0,13 Feb 2018,movie,410,230,1,4,30
4793,tt1667321,On Chesil Beach,2017,05-18-2018,110,R,6.3,7773,750000,78396,...,.,https://m.media-amazon.com/images/M/MV5BMzQ1Mj...,62.0,07 Aug 2018,movie,84,134,0,0,0
4794,tt2215395,Paulette,2012,08-14-2015,87,R,6.6,6513,750000,9548,...,1 win & 1 nomination.,https://m.media-amazon.com/images/M/MV5BMzU0MT...,40.0,.,movie,.,.,0,1,2
4795,tt0444653,Keeping Mum,2005,10-06-2006,99,R,6.8,32090,750000,1467021,...,1 win & 5 nominations.,https://m.media-amazon.com/images/M/MV5BNTA4OT...,53.0,20 Feb 2007,movie,136,186,0,1,6

In [60]:
x = df_final_meta[df_final_meta["income_ww"]<df_final_meta["income_usa"]].iloc[:,:15]
x = x[x["income_ww"]!=-1]

In [61]:
with open("prob_income_ww_id.txt","w") as f:
    f.write("\n".join(x["movie_id"]))
    f.close()

In [62]:
df_final_meta["release_year"][4783]

'2007'

In [63]:
for i in range(len(df_final_meta)):
    if df_final_meta["income_ww"][i]!=-1 and df_final_meta["income_int"][i] != -1:
        df_final_meta.loc[i, "income_int"] = df_final_meta["income_ww"][i] - df_final_meta["income_usa"][i]

In [64]:
# for i in range(len(df_final_meta)):
#     if df_final_meta["income_ww"][i]!=-1 and df_final_meta["income_int"][i] != -1:
#         print(df_final_meta.loc[i, "income_ww"]-df_final_meta.loc[i, "income_usa"]- df_final_meta.loc[i,"income_int"])

In [65]:
df_final_meta["income_int"].value_counts()

-1            890
 30000000       4
 13000000       3
 20000000       3
 10000000       3
             ...
 120278323      1
-13569117       1
 26455343       1
-17906991       1
 49178625       1
Name: income_int, Length: 3867, dtype: int64

In [66]:

for i in range(len(df_final_meta)):
    if df_final_meta["income_ww"][i]!= -1 and df_final_meta["income_int"][i] == -1:
        df_final_meta.loc[i,"income_int"] = df_final_meta["income_ww"][i] - df_final_meta["income_usa"][i]

In [67]:

cancal

NameError: name 'cancal' is not defined

In [ ]:
df_income.iloc[cancal]

# video 데이터(dvd, blu, total)

In [68]:
df_final_meta["dvd_sales"] = list(map(int, [x.replace(".","-1") for x in df_final_meta["dvd_sales"]]))
df_final_meta["blu_sales"] = list(map(int, [x.replace(".","-1") for x in df_final_meta["blu_sales"]]))
df_final_meta["total_sales"] = list(map(int, [x.replace(".","-1") for x in df_final_meta["total_sales"]]))

In [69]:
prob = []
for i in range(len(df_final_meta)):
    if df_final_meta["total_sales"][i]-(df_final_meta["blu_sales"][i]+df_final_meta["dvd_sales"][i]) not in [0,1]:
        prob.append(i)

In [70]:
print(prob)

[19, 37, 73, 80, 83, 84, 103, 104, 137, 159, 171, 178, 180, 187, 204, 225, 255, 276, 278, 288, 305, 309, 338, 372, 373, 415, 435, 438, 443, 481, 483, 484, 487, 490, 492, 502, 510, 511, 512, 521, 527, 532, 537, 541, 551, 553, 554, 560, 566, 572, 574, 586, 587, 605, 618, 619, 621, 625, 629, 632, 636, 657, 658, 659, 663, 700, 704, 706, 710, 713, 721, 726, 742, 761, 762, 769, 783, 786, 799, 801, 811, 814, 823, 843, 856, 859, 870, 889, 893, 905, 910, 912, 914, 916, 923, 934, 937, 960, 974, 976, 978, 998, 1003, 1007, 1009, 1017, 1022, 1023, 1025, 1034, 1039, 1041, 1048, 1050, 1071, 1075, 1076, 1094, 1102, 1106, 1111, 1130, 1131, 1136, 1139, 1151, 1158, 1160, 1170, 1219, 1223, 1226, 1240, 1247, 1256, 1257, 1261, 1264, 1265, 1266, 1275, 1282, 1284, 1311, 1322, 1355, 1358, 1365, 1372, 1375, 1376, 1388, 1394, 1395, 1399, 1400, 1405, 1411, 1412, 1426, 1430, 1432, 1437, 1443, 1446, 1461, 1462, 1473, 1485, 1487, 1492, 1504, 1508, 1537, 1545, 1552, 1554, 1558, 1590, 1596, 1597, 1600, 1606, 1608, 1613, 1621, 1623, 1625, 1629, 1645, 1649, 1653, 1664, 1670, 1677, 1679, 1681, 1689, 1693, 1709, 1728, 1732, 1734, 1736, 1737, 1739, 1746, 1750, 1752, 1755, 1756, 1757, 1759, 1767, 1772, 1781, 1812, 1827, 1829, 1834, 1845, 1855, 1860, 1863, 1865, 1867, 1874, 1896, 1904, 1905, 1912, 1915, 1916, 1931, 1938, 1942, 1946, 1950, 1957, 1963, 1971, 1989, 2003, 2005, 2012, 2016, 2028, 2031, 2034, 2035, 2043, 2048, 2052, 2057, 2069, 2074, 2098, 2099, 2114, 2116, 2128, 2129, 2131, 2136, 2138, 2148, 2160, 2162, 2164, 2168, 2183, 2189, 2194, 2196, 2202, 2210, 2222, 2235, 2236, 2242, 2252, 2257, 2262, 2269, 2284, 2289, 2310, 2313, 2317, 2320, 2327, 2338, 2344, 2347, 2349, 2365, 2371, 2373, 2376, 2386, 2390, 2395, 2399, 2405, 2422, 2427, 2429, 2446, 2448, 2459, 2460, 2461, 2466, 2475, 2477, 2482, 2485, 2489, 2490, 2492, 2496, 2500, 2502, 2503, 2508, 2510, 2513, 2514, 2515, 2518, 2525, 2529, 2532, 2539, 2545, 2547, 2551, 2553, 2556, 2557, 2562, 2570, 2574, 2575, 2578, 2589, 2596, 2624, 2634, 2640, 2645, 2647, 2648, 2652, 2664, 2666, 2673, 2681, 2690, 2692, 2710, 2719, 2747, 2748, 2749, 2754, 2755, 2757, 2766, 2769, 2778, 2782, 2787, 2814, 2815, 2825, 2827, 2828, 2830, 2834, 2836, 2839, 2857, 2860, 2868, 2879, 2902, 2903, 2904, 2908, 2920, 2926, 2933, 2938, 2947, 2952, 2953, 2957, 2971, 2986, 2988, 2995, 2997, 3001, 3002, 3005, 3008, 3011, 3019, 3038, 3044, 3049, 3058, 3059, 3074, 3076, 3081, 3083, 3087, 3088, 3102, 3104, 3130, 3144, 3155, 3157, 3169, 3186, 3196, 3197, 3199, 3218, 3224, 3233, 3237, 3239, 3243, 3257, 3267, 3275, 3279, 3285, 3288, 3314, 3322, 3325, 3327, 3336, 3371, 3380, 3395, 3398, 3399, 3420, 3426, 3437, 3444, 3449, 3450, 3470, 3485, 3488, 3499, 3540, 3572, 3574, 3588, 3599, 3604, 3625, 3639, 3645, 3648, 3656, 3657, 3680, 3691, 3693, 3698, 3702, 3705, 3720, 3726, 3744, 3745, 3759, 3760, 3761, 3764, 3774, 3775, 3783, 3795, 3796, 3797, 3799, 3840, 3845, 3871, 3876, 3880, 3908, 3913, 3962, 3986, 3988, 3989, 4004, 4005, 4029, 4043, 4051, 4053, 4054, 4063, 4074, 4085, 4094, 4099, 4113, 4122, 4123, 4128, 4146, 4148, 4165, 4169, 4174, 4176, 4194, 4202, 4204, 4205, 4224, 4255, 4263, 4271, 4274, 4284, 4292, 4304, 4305, 4325, 4326, 4335, 4345, 4349, 4359, 4363, 4373, 4382, 4386, 4394, 4401, 4419, 4421, 4429, 4441, 4445, 4446, 4452, 4470, 4472, 4475, 4524, 4525, 4551, 4552, 4553, 4558, 4566, 4571, 4583, 4595, 4610, 4628, 4645, 4655, 4658, 4668, 4674, 4683, 4689, 4712, 4715, 4724, 4728, 4751, 4757, 4763, 4789, 4794]

In [ ]:
df_final_meta.loc[prob]

In [ ]:
df_final_meta[df_final_meta["income_usa"]=="."]

# inflation rate 파생변수

In [ ]:
x = []
for i in range(len(df_final_meta)):
    if df_final_meta["income_usa"][i] == 0 or df_final_meta["inf_income_usa"][i] == "." : 
        x.append(".")
    else :
#         print(df_final_meta["inf_income_usa"][i], df_final_meta["income_usa"][i])
        x.append(round(100*float(df_final_meta["inf_income_usa"][i])/float(df_final_meta["income_usa"][i]) -100,2))

df_final_meta["inf_rate"] = x #추후

# contract_price, studio_score, price_class 합치기

In [ ]:
df_moviemeta = pd.read_csv("./data/movie_meta_spreadsheets.csv", engine = "python")
df_moviemeta[]

In [74]:
df_final_meta.columns

Index(['movie_id', 'title', 'release_year', 'release_date', 'runtime',
       'mpa_rating', 'imdb_score', 'votes', 'budget', 'income_usa',
       'income_int', 'income_ww', 'dvd_sales', 'blu_sales', 'total_sales',
       'income_opening', 'legs', 'share', 'inf_income_usa', 'theater_opening',
       'theater_total', 'series', 'genre', 'kwrds', 'src', 'prd_mthd',
       'creative_type', 'prd_company', 'country', 'director', 'actor',
       'description', 'contract_price', 'studio_score', 'price_class',
       'writer', 'language', 'awards', 'poster', 'metascore', 'dvd', 'type',
       'reviews_users', 'reviews_critics', 'big_awards', 'awards_win',
       'awards_nomin'],
      dtype='object')

In [76]:
df_final_meta = df_final_meta.drop(["contract_price","studio_score","price_class"], axis=1, inplace = False)
df_final_meta

,movie_id,title,release_year,release_date,runtime,mpa_rating,imdb_score,votes,budget,income_usa,...,awards,poster,metascore,dvd,type,reviews_users,reviews_critics,big_awards,awards_win,awards_nomin
0,tt1298650,Pirates of the Caribbean: On Stranger Tides,2011,05-20-2011,136,PG-13,6.6,460865,379000000,241063875,...,3 wins & 31 nominations.,https://m.media-amazon.com/images/M/MV5BMjE5Mj...,45.0,18 Oct 2011,movie,524,465,0,3,34
1,tt2395427,Avengers: Age of Ultron,2015,05-01-2015,141,PG-13,7.3,697604,365000000,429113729,...,8 wins & 47 nominations.,https://m.media-amazon.com/images/M/MV5BMTM4OG...,66.0,02 Oct 2015,movie,1276,688,0,8,55
2,tt4154756,Avengers: Infinity War,2018,04-27-2018,149,PG-13,8.5,741841,306000000,664987816,...,Nominated for 1 Oscar. Another 44 wins & 70 no...,https://m.media-amazon.com/images/M/MV5BMjMxNj...,68.0,14 Aug 2018,movie,4158,601,1,44,114
3,tt0449088,Pirates of the Caribbean: At World's End,2007,05-25-2007,169,PG-13,7.1,572118,300000000,309404152,...,Nominated for 2 Oscars. Another 20 wins & 44 n...,https://m.media-amazon.com/images/M/MV5BMjIyNj...,50.0,04 Dec 2007,movie,1275,326,1,20,64
4,tt0974015,Justice League,2017,11-17-2017,120,PG-13,6.4,352866,300000000,227032490,...,2 wins & 13 nominations.,https://m.media-amazon.com/images/M/MV5BYWVhZj...,45.0,13 Mar 2018,movie,1951,492,0,2,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4791,tt4714782,Personal Shopper,2016,03-10-2017,105,R,6.1,33522,750000,1305195,...,9 wins & 22 nominations.,https://m.media-amazon.com/images/M/MV5BN2JhYT...,77.0,.,movie,213,330,0,9,31
4792,tt2543472,Wonder,2017,11-17-2017,113,PG,8.0,123097,750000,132090170,...,Nominated for 1 Oscar. Another 4 wins & 26 nom...,https://m.media-amazon.com/images/M/MV5BYjFhOW...,66.0,13 Feb 2018,movie,410,230,1,4,30
4793,tt1667321,On Chesil Beach,2017,05-18-2018,110,R,6.3,7773,750000,78396,...,.,https://m.media-amazon.com/images/M/MV5BMzQ1Mj...,62.0,07 Aug 2018,movie,84,134,0,0,0
4794,tt2215395,Paulette,2012,08-14-2015,87,R,6.6,6513,750000,9548,...,1 win & 1 nomination.,https://m.media-amazon.com/images/M/MV5BMzU0MT...,40.0,.,movie,.,.,0,1,2
4795,tt0444653,Keeping Mum,2005,10-06-2006,99,R,6.8,32090,750000,1467021,...,1 win & 5 nominations.,https://m.media-amazon.com/images/M/MV5BNTA4OT...,53.0,20 Feb 2007,movie,136,186,0,1,6

In [ ]:
df_f